<div class="event-list">
  <ng-container *ngIf="onliveEventLists$ | async as eventLists">
    <div
      class="event-list__heading event-list__heading--margin"
      *ngIf="eventLists.length > 0"
    >
      <p class="event-list__text">オンライブ</p>
      <span class="spacer"></span>

      <div
        class="swiper-nav"
        *ngIf="eventLists.length > onliveConfig.slidesPerView"
      >
        <div class="swiper-nav__btn swiper-nav__btn--liv-prev">
          <mat-icon>chevron_left</mat-icon>
        </div>
        <div class="swiper-nav__btn swiper-nav__btn--liv-next">
          <mat-icon>chevron_right</mat-icon>
        </div>
      </div>
    </div>

    <swiper [config]="onliveConfig">
      <ng-template swiperSlide *ngFor="let event of eventLists">
        <app-event-card [event]="event" [uid]="user.uid"></app-event-card>
      </ng-template>
    </swiper>
  </ng-container>

  <ng-container *ngIf="eventLists$ | async as eventLists">
    <div class="event-list__heading">
      <p class="event-list__text">カテゴリー</p>
      <span class="spacer"></span>

      <div
        class="swiper-nav"
        *ngIf="eventLists.length > categoryConfig.slidesPerView"
      >
        <div
          class="swiper-nav__btn swiper-nav__btn--cat-prev"
          (click)="slidePrev('category', screenWidth)"
        >
          <mat-icon>chevron_left</mat-icon>
        </div>
        <div
          class="swiper-nav__btn swiper-nav__btn--cat-next"
          (click)="slideNext('category', screenWidth)"
        >
          <mat-icon>chevron_right</mat-icon>
        </div>
      </div>
    </div>

    <div class="event-list__list">
      <button
        mat-button
        *ngFor="let category of categoryData"
        (click)="changeListSource(category)"
        class="event-list__item"
        [class.active]="listSource === category"
      >
        #{{ category }}
      </button>
    </div>

    <swiper [config]="categoryConfig" #categorySlides>
      <ng-template swiperSlide *ngFor="let event of eventLists">
        <app-event-card [event]="event" [uid]="user.uid"></app-event-card>
      </ng-template>
    </swiper>
  </ng-container>

  <ng-container *ngIf="popularEventLists as eventLists">
    <div class="event-list__heading event-list__heading--margin">
      <p class="event-list__text">人気</p>
      <span class="spacer"></span>

      <div
        class="swiper-nav"
        *ngIf="eventLists.length > popularConfig.slidesPerView"
      >
        <div
          class="swiper-nav__btn swiper-nav__btn--pop-prev"
          (click)="slidePrev('popular', screenWidth)"
        >
          <mat-icon>chevron_left</mat-icon>
        </div>
        <div
          class="swiper-nav__btn swiper-nav__btn--pop-next"
          (click)="slideNext('popular', screenWidth)"
        >
          <mat-icon>chevron_right</mat-icon>
        </div>
      </div>
    </div>

    <swiper [config]="popularConfig" #popSlides>
      <ng-template swiperSlide *ngFor="let event of eventLists">
        <app-event-card
          [event]="event"
          [uid]="user.uid"
          [dbType]="'algolia'"
          [type]="'search'"
        ></app-event-card>
      </ng-template>
    </swiper>
  </ng-container>
</div>
