<div class="chat">
  <mat-divider></mat-divider>
  <div class="chat__content" *ngFor="let chat of chats$ | async">
    <div class="chat__item">
      <figure
        class="chat__avatar"
        [style.background-image]="'url(' + chat.user?.avatarURL + ')'"
      ></figure>
      <div class="chat__body">
        <p class="chat__body">
          <span class="chat__name">
            {{ chat.user?.name }}
          </span>
          <quill-view-html [content]="chat.chatBody" theme="snow">
          </quill-view-html>
        </p>
        <p class="chat__date">
          {{ chat.createdAt.toDate() | date: 'M/d HH:mm' }}
        </p>
      </div>
      <div>
        <button
          mat-icon-button
          [mat-menu-trigger-for]="chatEditor"
          type="button"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #chatEditor="matMenu">
          <button mat-menu-item type="button" (click)="deleteChat(chat.chatId)">
            <mat-icon>delete</mat-icon>
            削除
          </button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>

<div class="chat-form chat-form--sp">
  <button mat-icon-button (click)="toggleToolBar()">
    <mat-icon class="cat-form__icon">add_circle</mat-icon>
  </button>
  <quill-editor
    [formControl]="form"
    [styles]="{ height: '40px', width: '80%' }"
    [placeholder]="'コメントを入力'"
  >
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-emoji" [title]="'emoji'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-link" [title]="'link'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-image" [title]="'image'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-video" [title]="'video'"></button>
      </span>
    </div>
  </quill-editor>
</div>

<div class="chat-form">
  <quill-editor
    [formControl]="form"
    [styles]="{ height: '40px' }"
    [placeholder]="'コメントを入力'"
    customToolbarPosition="bottom"
  >
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-bold" [title]="'Bold'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-emoji" [title]="'emoji'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-link" [title]="'link'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-image" [title]="'image'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-video" [title]="'video'"></button>
      </span>
    </div>
    <mat-icon class="chat-form__submit" (click)="createChat()">send</mat-icon>
  </quill-editor>
</div>
