<div class="selector">
  <button
    class="event-room-btn event-room-btn--chat-l"
    matRipple
    [class.active]="uiService.selector === 'chat'"
    (click)="uiService.selector = 'chat'"
  >
    <mat-icon class="event-room-btn__icon">chat</mat-icon>チャット
  </button>
  <button
    class="event-room-btn event-room-btn--chat-r"
    matRipple
    [class.active]="uiService.selector === 'participant'"
    (click)="uiService.selector = 'participant'"
  >
    <mat-icon class="event-room-btn__icon">group</mat-icon>参加者
  </button>
</div>

<div class="chat">
  <ng-container *ngIf="chats$ | async as chats">
    <ng-container *ngIf="uiService.selector === 'chat'">
      <div
        class="chat__content"
        *ngFor="let chat of chats | slice: 0:[last] - 1; last as last"
      >
        <div class="chat__item">
          <div class="chat__header">
            <figure
              class="chat__avatar"
              [style.background-image]="'url(' + chat.user?.avatarURL + ')'"
            ></figure>

            <span class="chat__name">
              {{ chat.user?.name }}
            </span>
            <p class="chat__date">
              {{ chat.createdAt.toDate() | date: 'M/d HH:mm' }}
            </p>

            <span class="spacer"></span>

            <div>
              <button
                mat-icon-button
                [mat-menu-trigger-for]="chatEditor"
                type="button"
                *ngIf="chat.uid === uid"
              >
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #chatEditor="matMenu">
                <button
                  mat-menu-item
                  type="button"
                  (click)="deleteChat(chat.chatId)"
                >
                  <mat-icon>delete</mat-icon>
                  削除
                </button>
              </mat-menu>
            </div>
          </div>
          <div class="chat__body">
            <quill-view-html [content]="chat.chatBody"></quill-view-html>
          </div>
        </div>
      </div>

      <div class="chat__item" *ngFor="let chat of chats | slice: -1" #target>
        <div class="chat__header">
          <figure
            class="chat__avatar"
            [style.background-image]="'url(' + chat.user?.avatarURL + ')'"
          ></figure>

          <span class="chat__name">
            {{ chat.user?.name }}
          </span>
          <p class="chat__date">
            {{ chat.createdAt.toDate() | date: 'M/d HH:mm' }}
          </p>

          <span class="spacer"></span>

          <div>
            <button
              mat-icon-button
              [mat-menu-trigger-for]="chatEditor"
              type="button"
              *ngIf="chat.uid === uid"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #chatEditor="matMenu">
              <button
                mat-menu-item
                type="button"
                (click)="deleteChat(chat.chatId)"
              >
                <mat-icon>delete</mat-icon>
                削除
              </button>
            </mat-menu>
          </div>
        </div>
        <div class="chat__body">
          <quill-view-html [content]="chat.chatBody"></quill-view-html>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div *ngIf="uiService.selector === 'participant'" class="participants-wrap">
    <div
      class="participants"
      *ngIf="event.eventId === event.user.joinChannelId"
    >
      <img class="participants__photo" [src]="event.user.avatarURL" alt="" />
      <p class="participants__name">{{ event.user.name }}</p>
      <div class="participants__host">HOST</div>
    </div>
    <div class="participants" *ngFor="let participant of participants">
      <img class="participants__photo" [src]="participant.avatarURL" alt="" />
      <p class="participants__name">{{ participant.name }}</p>
    </div>
  </div>
</div>

<div class="chat-form chat-form--sp">
  <quill-editor
    [formControl]="form"
    [styles]="{ height: '40px', width: '80%' }"
    [placeholder]="'コメントを入力'"
  >
  </quill-editor>
  <button
    class="event-room-btn event-room-btn--main event-room-btn--submit"
    (click)="createChat()"
  >
    送信
  </button>
</div>

<div class="chat-form">
  <quill-editor
    [formControl]="form"
    [styles]="{ height: '40px' }"
    [placeholder]="'コメントを入力'"
    [modules]="modules"
  >
    <div quill-editor-toolbar>
      <span class="ql-formats">
        <button class="ql-emoji" [title]="'絵文字'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-link" [title]="'リンク'"></button>
      </span>
      <span class="ql-formats">
        <button class="ql-video" [title]="'YouTube'"></button>
      </span>
    </div>
  </quill-editor>
  <button
    class="event-room-btn event-room-btn--main event-room-btn--submit"
    (click)="createChat()"
  >
    送信
  </button>
</div>
