@import 'custom-style';
@import 'mixins';

.chat {
  height: calc(100vh - 74px - 112px);
  padding: 16px;
  overflow-y: scroll;
  color: $color-font;
  position: relative;
  @include sp {
    width: 100vw;
    height: calc(100vh - 50px - 56px - 56px);
  }
  &__heading {
    color: $color-font;
    text-align: center;
  }
  &__item {
    padding: 8px 0;
    margin-bottom: 8px;
  }
  &__avatar {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: center/cover rgba(0, 0, 0, 0.5);
    margin-right: 8px;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }
  &__date {
    font-size: 11px;
  }
  &__name {
    font-size: 13px;
    line-height: 1;
    margin-right: 8px;
  }
  &__body {
    margin-left: 24px;
    word-break: break-all;
    word-wrap: break-word;
  }
}

.selector {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  @include sp {
    padding: 8px;
  }
}

.chat-form {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: #fff;
  @include sp {
    display: none;
    padding: 8px 16px;
  }
  &__submit {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    font-size: 16px;
    margin: 8px 0 0 auto;
    opacity: 0.8;
    cursor: pointer;
    position: absolute;
    bottom: 44px;
    right: 16px;
    z-index: 1000;
    display: grid;
    place-items: center;
    transform: rotate(-30deg);
    @include sp {
      display: none;
    }
    &--sp {
      display: none;
      @include sp {
        background: #fff;
        color: $color-font;
        display: block;
        bottom: 12px;
      }
    }
  }
  &__toggle {
    z-index: 100;
  }
  &--sp {
    display: none;
    @include sp {
      display: block;
    }
  }
  .quill-toolbar-wrap {
    display: flex;
    align-items: center;
  }
}

.participants-wrap {
  height: calc(100vh - 74px - 112px);
  padding: 16px;
  overflow-y: scroll;
  color: $color-font;
  position: relative;
  @include sp {
    width: 100vw;
    height: calc(100vh - 56px - 21px - 48px - 68px);
  }
}

.participants {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
  &__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  &__name {
    font-size: 14px;
    margin-left: 16px;
  }
  &__host {
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid #fac905;
    color: #fac905;
    background: #fbca042e;
  }
}

mat-divider {
  margin-right: 8px;
}
