<mat-card>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>プロダクト名</mat-label>
      <input
        type="text"
        formControlName="name"
        matInput
        required
        autocomplete="off"
        placeholder="スタンダードプラン/サングラス"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>金額</mat-label>
      <input
        type="number"
        formControlName="amount"
        step="100"
        matInput
        autocomplete="off"
        required
        placeholder="100"
      />
      <span matSuffix>円</span>
    </mat-form-field>

    <button
      [disabled]="form.invalid || isRunning"
      mat-raised-button
      color="primary"
      (click)="createPlan()"
    >
      商品作成
    </button>
  </form>
</mat-card>
