@import 'custom-style';

.card-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin: 40px 0;
}

.card {
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
}

.active {
  color: $color-font-main;
}
