<button
  mat-button
  (click)="changeListSource('all')"
  [class.active]="listSource === 'all'"
>
  すべて
</button>
<button
  mat-button
  (click)="changeListSource('online')"
  [class.active]="listSource === 'online'"
>
  オンライン
</button>
<button
  mat-button
  (click)="changeListSource('follow')"
  [class.active]="listSource === 'follow'"
>
  フォロー
</button>
<button
  mat-button
  (click)="changeListSource('invite')"
  [class.active]="listSource === 'invite'"
>
  招待
</button>

<ng-container [ngSwitch]="listSource">
  <ng-container *ngSwitchCase="'all'">
    <div *ngIf="allUsers$ | async as users" class="card-wrap">
      <app-user-card
        class="card"
        *ngFor="let user of users"
        [user]="user"
      ></app-user-card>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'online'">
    <div *ngIf="onlineUsers$ | async as users" class="card-wrap">
      <app-user-card
        class="card"
        *ngFor="let user of users"
        [user]="user"
      ></app-user-card>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'follow'">
    <div *ngIf="followings$ | async as users" class="card-wrap">
      <app-user-card
        class="card"
        *ngFor="let user of users"
        [user]="user"
      ></app-user-card>
    </div>
  </ng-container>
  <ng-container *ngSwitchCase="'invite'">
    <div class="card-wrap">
      <ng-container *ngIf="invites$ | async as invites; else empty">
        <!-- <p>
            {{ invite.sender.name }}さんからミーティングの招待が届いています({{
              invite.createdAt.toMillis() | date: 'yyyy/MM/dd HH:mm'
            }})
          </p>
          <a mat-button [routerLink]="'/meeting/' + invite.roomId">参加する</a> -->
        <app-invite-card
          *ngFor="let invite of invites"
          class="card"
          [invite]="invite"
        ></app-invite-card>
      </ng-container>
      <ng-template #empty>招待はありません</ng-template>
    </div>
  </ng-container>
</ng-container>
