<div class="close">
  <button
    class="close__button"
    [disabled]="uiService.loading"
    mat-mini-fab
    mat-dialog-close
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<h3 class="heading">入室</h3>

<ng-container *ngFor="let ticket of products$ | async">
  <ul class="ticket">
    <li class="ticket__item">
      <img
        class="ticket__avatar"
        [style.background-image]="'url(' + data.targetUser.avatarURL + ')'"
      />
      <p>{{ data.targetUser.name }}</p>
    </li>
    <li class="ticket__item">
      <p class="ticket__name">チケット</p>
      <p>¥{{ ticket.price }}/時</p>
    </li>
  </ul>
  <button
    *ngIf="connectedAccountId$ | async as connectedAccountId"
    class="ticket__charge"
    mat-flat-button
    [mat-dialog-close]="[ticket, connectedAccountId]"
  >
    チケットを購入して入室する
  </button>
</ng-container>
