<div class="container container--calendar">
  <div class="calendar">
    <div class="calendar__header">
      <div class="btn-group">
        <div
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <mat-icon class="calendar__icon">arrow_left</mat-icon>
        </div>

        <div class="btn-group__day">
          <p>{{ viewDate | date: 'yyyy年M月d日' }}</p>
        </div>

        <div
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          <mat-icon class="calendar__icon">arrow_right</mat-icon>
        </div>
      </div>

      <div class="col-md-4">
        <div class="btn-group">
          <div
            class="calendar__select-btn"
            (click)="setView(CalendarView.Month)"
            [class.active]="view === CalendarView.Month"
          >
            月
          </div>
          <div
            class="calendar__select-btn"
            (click)="setView(CalendarView.Week)"
            [class.active]="view === CalendarView.Week"
          >
            週
          </div>
          <div
            class="calendar__select-btn"
            (click)="setView(CalendarView.Day)"
            [class.active]="view === CalendarView.Day"
          >
            日
          </div>
        </div>
      </div>
    </div>

    <div [ngSwitch]="view">
      <ng-container *ngIf="reserveEvents$ | async; else default">
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>

        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </ng-container>

      <ng-template #default>
        <div class="calendar__warning-section">
          <mat-icon class="calendar__warning-icon">warning</mat-icon>
          <p>まだ予約しているイベントがありません</p>
        </div>
        <mwl-calendar-month-view
          *ngSwitchCase="CalendarView.Month"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-month-view>

        <mwl-calendar-week-view
          *ngSwitchCase="CalendarView.Week"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="CalendarView.Day"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventClicked)="handleEvent('Clicked', $event.event)"
          (eventTimesChanged)="eventTimesChanged($event)"
        >
        </mwl-calendar-day-view>
      </ng-template>
    </div>
  </div>
</div>
