.heading {
  margin: 24px 0;
  &__text {
    font-weight: 600;
  }
}

.form-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.form-grid {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 24px;
  &__label {
    line-height: 64px;
  }
  &__cropper {
    max-width: 320px;
    margin-bottom: 16px;
    margin-top: 24px;
  }
  &__hint {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: rgba(#000, 0.38);
    &:nth-of-type(1) {
      margin-top: 16px;
    }
  }
  &__icon {
    color: #00c300;
  }
}

.actions {
  margin-bottom: 48px;
  &__back {
    margin-right: 16px;
  }
}

mat-divider {
  margin-bottom: 24px;
}
