<ng-container *ngIf="isProcessing; else view">
  <div class="processing">
    <img src="assets/images/three-dots.svg" alt="" /></div
></ng-container>
<ng-template #view>
  <div *ngIf="user$ | async as user" class="container container--event-form">
    <div class="heading">
      <h2 class="heading__text">イベント{{ event ? '編集' : '作成' }}</h2>
    </div>

    <mat-divider></mat-divider>

    <div class="notice form-grid">
      <div class="spacer"></div>
      <div class="notice__content">
        <span class="notice__mark">※</span>
        <p class="notice__text">
          販売アカウントの設定・変更をされる場合はフォーム記入前に行ってください。アカウント設定後、フォーム記入内容はリセットされます。
        </p>
      </div>
    </div>

    <form [formGroup]="form" (ngSubmit)="submit(user.uid)" class="form-group">
      <div class="form-grid">
        <p class="form-grid__label">イベント名</p>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            formControlName="name"
            #name
            required
            autocomplete="off"
            placeholder="イベント名を入力してください"
          />
          <mat-hint align="end">
            {{ form.get('name').value.length }} /
            {{ NAME_MAX_LENGTH }}
          </mat-hint>
          <mat-error *ngIf="form.get('name').hasError('maxlength')"
            >最大{{ NAME_MAX_LENGTH }}文字です。</mat-error
          >
          <mat-error *ngIf="form.get('name').hasError('required')">
            必須入力です。
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-grid">
        <p class="form-grid__label">カテゴリー</p>
        <mat-form-field class="form-field" appearance="outline">
          <mat-select formControlName="category">
            <mat-option
              *ngFor="let category of categoryGroup"
              [value]="category.value"
            >
              {{ category.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form-grid">
        <p class="form-grid__label">開始時間</p>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            placeholder="イベントの開始時間を選択してください"
            formControlName="startAt"
            autocomplete="off"
            required
            [owlDateTimeTrigger]="dt1"
            [owlDateTime]="dt1"
          />
          <owl-date-time [pickerType]="'both'" #dt1></owl-date-time>
          <mat-error *ngIf="form.get('startAt').hasError('required')"
            >必須入力です</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-grid">
        <p class="form-grid__label">終了時間</p>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            placeholder="イベントの終了時間を選択してください"
            formControlName="exitAt"
            autocomplete="off"
            [owlDateTimeTrigger]="dt2"
            [owlDateTime]="dt2"
            required
          />
          <owl-date-time [pickerType]="'both'" #dt2></owl-date-time>
          <mat-error *ngIf="form.get('exitAt').hasError('required')"
            >必須入力です</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-grid">
        <p class="form-grid__label">募集人数</p>
        <mat-form-field class="form-field" appearance="outline">
          <input
            matInput
            placeholder="イベントの募集人数を記入してください"
            formControlName="headcountLimit"
            autocomplete="off"
            required
            type="number"
          />
          <mat-error *ngIf="form.get('headcountLimit').hasError('required')"
            >必須入力です</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-grid">
        <p class="form-grid__label"><sup>*</sup>サムネイル画像</p>
        <div class="form-grid__cropper">
          <ng-container *ngIf="oldImageUrl; else nothing">
            <deer-crop-trigger
              [options]="{
                aspectRatio: 16 / 9,
                oldImageUrl: oldImageUrl
              }"
              (image)="onCroppedImage($event)"
            ></deer-crop-trigger>
          </ng-container>

          <ng-template #nothing>
            <deer-crop-trigger
              [options]="{
                aspectRatio: 16 / 9,
                oldImageUrl: oldImageUrl
              }"
              (image)="onCroppedImage($event)"
            ></deer-crop-trigger>
          </ng-template>

          <div class="form-grid__hint">
            <mat-icon class="form-grid__icon">done</mat-icon>
            <p>対応ファイル形式：PNG,JPG,JPEG</p>
          </div>
          <div class="form-grid__hint">
            <mat-icon class="form-grid__icon">done</mat-icon>
            <p>ファイルサイズ：3MB以内</p>
          </div>
          <div
            *ngIf="isImageError && !event"
            class="form-grid__hint"
            style="color: red"
          >
            サムネイルの設定は必須です
          </div>
        </div>
      </div>

      <div class="form-grid">
        <p class="form-grid__label">参加料金設定</p>
        <ng-container *ngIf="connectedAccountId$ | async; else createAccount">
          <div class="form-grid__ticket-wrap">
            <mat-form-field appearance="outline">
              <mat-label>金額</mat-label>
              <input
                type="number"
                formControlName="ticketPrice"
                step="100"
                matInput
                autocomplete="off"
                placeholder="1000"
              />
              <span matSuffix>円</span>
            </mat-form-field>
            <button
              type="button"
              class="form-grid__ticket-account-btn"
              color="basic"
              mat-stroked-button
              (click)="connectedAccountService.createStripeConnectedAccount()"
            >
              販売アカウント変更
            </button>
          </div>
        </ng-container>
        <ng-template #createAccount>
          <p>
            チケット料金の設定をするには、販売アカウントを作成してください。<a
              class="form-grid__ticket"
              (click)="connectedAccountService.createStripeConnectedAccount()"
              >販売アカウント作成</a
            >
          </p>
        </ng-template>
      </div>

      <div class="form-grid">
        <p class="form-grid__label">イベント詳細</p>
        <quill-editor
          class="content-editor"
          formControlName="description"
          [placeholder]="''"
          [modules]="modules"
          [styles]="{ 'min-height': '240px' }"
          (onSelectionChanged)="onSelectionChanged($event)"
        >
        </quill-editor>
      </div>
      <div class="actions">
        <button
          type="button"
          mat-flat-button
          class="actions__back"
          routerLink="/"
        >
          戻る
        </button>
        <button
          [disabled]="
            (form.invalid ||
              form.pristine ||
              isProcessing ||
              (isImageError && !event)) &&
            !(event && this.isImageChanged)
          "
          mat-raised-button
          color="primary"
        >
          作成
        </button>
      </div>
    </form>
  </div>
</ng-template>
