@import 'custom-style';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
  min-height: 56px;
  box-sizing: border-box;
  background-color: white;
  &__logo {
    font-family: $font-logo;
    img {
      margin-right: 4px;
    }
  }
  &__logo-link {
    display: flex;
    color: #606060;
    align-items: center;
  }
  &__event-button {
    font-size: 16px;
    font-weight: 500;
    color: $font-logo;
    margin: auto 16px auto 0;
    transform: translateY(3px);
    transition: ease-in-out 0.16s;
    &:hover {
      color: #1bcbe0;
    }
  }
  &__icon {
    transform: translateY(-1px);
    box-shadow: none;
    background: center / cover no-repeat;
  }
  &__login-button {
    font-weight: 500;
    color: $color-font;
    border: solid 2px $color-font;
    transition: ease-in-out 0.16s;
    &:hover {
      color: #fff;
      border: solid 2px #1bcbe0;
      background: $color-main;
    }
  }
}
