@import 'custom-style';
@import 'mixins';

@include tablet {
  .tablet-none {
    cursor: pointer;
    display: none;
  }
}

@include pc {
  .pc-none {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  align-items: center;
  min-height: 56px;
  box-sizing: border-box;
  background-color: white;
  @include sp {
    height: 56px;
    padding: 8px;
  }
  &__logo {
    font-family: $font-logo;
    img {
      margin-right: 4px;
      width: 16px;
    }
    @include sp {
      font-size: 12px;
    }
  }
  &__logo-link {
    display: flex;
    color: #606060;
    align-items: center;
  }
  &__btns {
    display: flex;
    align-items: center;
  }
  &__search {
    display: none;
    @include sp {
      display: block;
    }
  }
  &__event-button {
    font-size: 16px;
    font-weight: 500;
    color: $font-logo;
    margin: auto 16px auto 0;
    transition: ease-in-out 0.16s;
    @include sp {
      margin: auto 0;
    }
    &:hover {
      color: #1bcbe0;
    }
    span {
      line-height: 19px;
      @include sp {
        display: none;
      }
    }
  }
  &__icon {
    transform: translateY(-1px);
    box-shadow: none;
    background: center / cover no-repeat;
  }
  &__login-button {
    font-weight: 500;
    color: $color-font;
    border: solid 2px $color-font;
  }
  &__login-contents {
    width: 280px;
    padding: 16px 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
  }
  &__login-item {
    width: 100%;
    color: #fff;
    font-weight: 500;
    text-align: left;
    padding: 8px 32px;
    border-radius: 4px;
    border: solid 2px;
    text-transform: capitalize;
    @include tablet {
      margin: 8px 0;
    }
    @include pc {
      transition: ease-in-out 0.16s;
    }
    &.google {
      background-color: #dd4b39;
      &:hover {
        background-color: initial;
        color: #dd4b39;
        border-color: #dd4b39;
      }
    }
    &.twitter {
      background-color: #1da1f2;
      &:hover {
        background-color: initial;
        color: #1da1f2;
        border-color: #1da1f2;
      }
    }
    &.facebook {
      background-color: #3b5998;
      &:hover {
        background-color: initial;
        color: #3b5998;
        border-color: #3b5998;
      }
    }
    &.github {
      background-color: #211f1f;
      &:hover {
        background-color: initial;
        color: #211f1f;
        border-color: #211f1f;
      }
    }
  }
}
