<div (click)="navigateDetail(event, $event)" class="card" @fade>
  <div class="card__header">
    <img [src]="event.thumbnailURL" alt="" class="card__img" />

    <div class="card__info-wrap">
      <div class="card__date-wrap">
        <ng-container *ngIf="dbType === 'algolia'; else firestore">
          <p class="card__date">
            {{ event.startAt | date: 'M/dd' }}
          </p>
          <p class="card__day">
            {{ event.startAt | date: 'E' }}
          </p>
          <p class="card__startAt">
            {{ event.startAt | date: 'HH:mm 〜' }}
          </p>
        </ng-container>
        <ng-template #firestore>
          <p class="card__date">
            {{ event.startAt?.toDate() | date: 'M/dd' }}
          </p>
          <p class="card__day">
            {{ event.startAt?.toDate() | date: 'E' }}
          </p>
          <p class="card__startAt">
            {{ event.startAt?.toDate() | date: 'HH:mm 〜' }}
          </p>
        </ng-template>
      </div>

      <ng-container *ngIf="event.participantCount > 0; else future">
        <div class="card__participants">
          <mat-icon class="card__participants-icon">group</mat-icon>
          <p class="card__participants-count">
            {{ event.participantCount }}
          </p>
        </div>
      </ng-container>
      <ng-template #future>
        <div class="card__participants card__participants--reserve">
          <mat-icon class="card__participants-icon">group</mat-icon>
          <p class="card__participants-count">
            {{ event.reserveUserCount }}
          </p>
        </div>
      </ng-template>
    </div>

    <button
      class="card__btn"
      (click)="joinChannel(event, $event)"
      matTooltip="入室する"
    >
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>

  <div class="card__body">
    <div class="card__detail">
      <p class="card__info">{{ event.category }}</p>
      <p class="card__name">{{ event.name }}</p>
    </div>
  </div>

  <div class="card__body-sub"></div>
</div>
