<div (click)="joinChannel(event)" class="card__content" @fade>
  <div class="card__header">
    <img [src]="event.thumbnailURL" alt="" class="card__img" />
    <ng-container *ngIf="event.participantCount > 0; else future">
      <div class="card__participants">
        <div class="card__participants-count-wrap">
          <p class="card__participants-count">
            {{ event.participantCount }}
            <span class="card__participants-count card__participants-count--s"
              >名</span
            >
          </p>
          <p class="card__participants-text">参加中</p>
        </div>
      </div>
    </ng-container>
    <ng-template #future>
      <div class="card__participants card__participants--reserve">
        <div class="card__participants-count-wrap">
          <p class="card__participants-count">
            {{ event.reserveUserCount }}
            <span class="card__participants-count card__participants-count--s"
              >名</span
            >
          </p>
          <p class="card__participants-text">予約中</p>
        </div>
      </div>
    </ng-template>
  </div>

  <div class="card__body">
    <div class="card__date-wrap">
      <p class="card__date">
        {{ event.startAt.toDate() | date: 'M/dd' }}
      </p>
      <p class="card__day">
        {{ event.startAt.toDate() | date: 'E' }}
      </p>
      <p class="card__startAt">
        {{ event.startAt.toDate() | date: 'HH:mm〜' }}
      </p>
    </div>

    <span class="card__pipe"></span>

    <div class="card__body-inner">
      <div class="card__body-flex">
        <p class="card__category">
          {{ event.category }}
        </p>
        <div class="card__actions" align="end">
          <button class="card__btn" (click)="openDetailDialog(event, $event)">
            <mat-icon>touch_app</mat-icon>
          </button>
          <button class="card__btn" (click)="navigateDetail(event)">
            <mat-icon>expand_more</mat-icon>
          </button>
        </div>
      </div>

      <div class="card__detail">
        <p class="card__name">{{ event.name }}</p>
        <p class="card__info">{{ event.description }}</p>
      </div>
    </div>
  </div>
</div>
