@import 'custom-style';
@import 'mixins';

.card {
  &__content {
    border-radius: 10px;
    height: 344px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    background-color: #fff;
    cursor: pointer;
    transition: ease 0.3s;
    &:hover {
      transition-duration: 0.3s;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
    @include sp-s {
      height: 300px;
    }
  }
  &__header {
    position: relative;
  }
  &__participants {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: $color-accent;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
    &--reserve {
      background: $color-sub;
    }
    @include sp-s {
      width: 64px;
      height: 64px;
    }
  }
  &__participants-count-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__participants-count {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    &--s {
      font-size: 10px;
    }
    @include sp-s {
      font-size: 16px;
    }
  }
  &__participants-text {
    font-size: 10px;
    color: #fff;
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__body {
    color: $color-font;
    padding: 8px;
    height: 100%;
    display: grid;
    grid-template-columns: 80px 4px 1fr;
  }
  &__actions {
    margin-left: auto;
  }
  &__btn {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    border-radius: 50%;
    border: 1px solid #ddd;
    background: #fff;
    cursor: pointer;
    transition: ease 0.3s;
    mat-icon {
      display: grid;
      place-items: center;
    }
    &:hover {
      border: 1px solid #424242;
    }
  }
  &__date-wrap {
    margin: 8px 0;
  }
  &__pipe {
    width: 2px;
    height: 120px;
    background: rgba(#000, 0.16);
  }
  &__body-inner {
    padding: 0 8px;
    overflow: hidden;
  }
  &__body-flex {
    display: flex;
    align-items: center;
  }
  &__date {
    font-size: 24px;
    font-weight: 600;
    padding: 16px 16px 8px 16px;
    display: grid;
    place-items: center;
    @include sp-s {
      font-size: 18px;
    }
  }
  &__day {
    align-items: center;
    display: grid;
    place-items: center;
  }
  &__startAt {
    align-items: center;
    display: grid;
    place-items: center;
  }
  &__detail {
    margin-left: 8px;
  }
  &__category {
    display: inline-block;
    background: $color-sub;
    color: #fff;
    padding: 4px 8px;
    font-size: 14px;
    margin-left: 8px;
    border-radius: 14px;
    @include sp-s {
      font-size: 12px;
    }
  }
  &__name {
    color: #505050;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 2px;
    @include sp-s {
      font-size: 14px;
    }
  }
  &__info {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
