<div class="container container--intl">
  <h1 class="intl__title">プライバシーポリシー</h1>

  <div class="intl__content-box">
    <h2 class="intl__heading">1 個人情報の定義</h2>
    <p class="intl__contents">
      本プライバシーポリシーにおける、「個人情報」とは、個人情報の保護に関する法律規定される「個人情報」及び当サービスの利用に係るパスワードを指します。
    </p>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">2 個人情報の取得</h2>
    <p class="intl__contents">
      当サービスが利用目的の達成に必要な範囲で、個人情報を適正に取得し、不正の手段により取得することはありません。
    </p>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">3 利用目的</h2>
    <p class="intl__contents">
      当サービスは、取得した個人情報を以下の目的で利用します。
    </p>
    <ol class="intl__contents">
      <li>
        当サービスのおける商品の発送、関連するアフターサービス、新商品サービスに関する情報の通知
      </li>
      <li>当サービスに関するお問い合わせ等への対応</li>
      <li>当サービスに関する規約等の変更等の通知</li>
    </ol>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">4 第三者提供</h2>
    <p class="intl__contents">
      当サービスは、法令に定められた場合を除き、あらかじめ利用者の同意を得ないで、第三者（日本国外にあるも者を含みます。）に個人情報を提供しません。
    </p>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">5 開示、訂正、利用停止、削除</h2>
    <p class="intl__contents">
      当サービスは、利用者から個人情報の開示、訂正、利用停止、削除を求められたときは、法
      令に定められた場合を除き、本人確認の上で、遅滞なく開示を行います。
      ただし、個人情報の開示につきましては、1件あたり1,000円の手数料を頂戴しておりますので、あらかじめご了承ください。
    </p>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">6 お問い合わせ窓口</h2>
    <p class="intl__contents">
      個人情報の取り扱いに関するお問い合わせは、下記の窓口までお願いいたします。
    </p>
    <p class="intl__contents">電話番号：090-4736-9640</p>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">7 プライバシーポリシー</h2>
    <p class="intl__contents">
      必要に応じて、本プライバシーポリシーを変更いたします。
      なお、本プライバシーポリシーを変更する場合は、その内容を本ウェブサイト上で表示いたします。
    </p>
  </div>

  <a mat-stroked-button routerLink="/">戻る</a>
</div>
