@import 'custom-style';
@import 'mixins';

.app-nav-item {
  font-weight: 500;
  color: $color-font;
  line-height: 36px;
  border: solid 2px $color-font;
  border-radius: 4px;
  background-color: white;
  padding: 0 16px;
  transition: ease-in-out 0.16s;
  &:hover {
    color: #fff;
    border: solid 2px #1bcbe0;
    background: $color-main;
  }
}
