<ng-container *ngIf="!isProcessing && user$ | async as user; else view">
  <form [formGroup]="form" (ngSubmit)="updateUser()">
    <div class="settings__profile">
      <div class="settings__info">
        <h3 class="settings__heading">プロフィール編集</h3>

        <mat-divider></mat-divider>

        <div class="settings__property">
          <div class="settings__label">
            <p>ユーザーID</p>
            <mat-icon matTooltip="{{ user.name }}さん固有のId"
              >help_outline</mat-icon
            >
          </div>
          <p class="settings__value">{{ user.uid }}</p>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            <p>ユーザー名</p>
            <mat-icon matTooltip="みんなに表示される名前"
              >help_outline</mat-icon
            >
          </div>

          <div class="settings__value">
            <mat-form-field appearance="outline">
              <input
                matInput
                autocomplete="off"
                formControlName="name"
                required
                #name
              />
              <mat-hint align="end"
                >{{ form.get('name').value.length }} /
                {{ nameMaxLength }}</mat-hint
              >
              <mat-error *ngIf="form.get('name').hasError('maxlength')"
                >最大{{ nameMaxLength }}文字です。</mat-error
              >
              <mat-error *ngIf="form.get('name').hasError('required')">
                必須入力です。
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            <p>Email</p>
            <mat-icon
              matTooltip="お知らせメールで使用されるアドレス。表示はされません"
              >help_outline</mat-icon
            >
          </div>

          <div class="settings__value">
            <mat-form-field appearance="outline">
              <input
                matInput
                autocomplete="off"
                formControlName="email"
                #email
              />
              <mat-error *ngIf="form.get('email').hasError('email')"
                >メールアドレスを入力してください。</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            <p>自己紹介</p>
            <mat-icon matTooltip="みんなに表示されるプロフィール"
              >help_outline</mat-icon
            >
          </div>

          <div class="settings__value">
            <mat-form-field appearance="outline">
              <textarea
                matInput
                autocomplete="off"
                formControlName="description"
                #desctiption
                matTextareaAutosize
                [matAutosizeMinRows]="4"
              >
              </textarea>
              <mat-hint align="end"
                >{{ form.get('description').value.length }} /
                {{ descriptionMaxLength }}</mat-hint
              >
              <mat-error *ngIf="form.get('description').hasError('maxlength')"
                >最大{{ descriptionMaxLength }}文字です。</mat-error
              >
            </mat-form-field>
          </div>
        </div>

        <div class="settings__property">
          <div class="settings__label">
            <p>チケット</p>
            <mat-icon matTooltip="1on1チケットの料金設定"
              >help_outline</mat-icon
            >
          </div>

          <div class="settings__value">
            <ng-container
              *ngIf="connectedAccountId$ | async; else createAccount"
            >
              <div class="settings__ticket-wrap">
                <mat-form-field appearance="outline">
                  <mat-label>金額</mat-label>
                  <input
                    type="number"
                    formControlName="ticketPrice"
                    step="100"
                    matInput
                    autocomplete="off"
                    placeholder="1000"
                  />
                  <span class="settings__suffix" matSuffix>円</span>
                  <mat-hint
                    (click)="
                      connectedAccountService.createStripeConnectedAccount()
                    "
                    >販売アカウント変更は<span class="settings__ticket"
                      >こちら</span
                    ></mat-hint
                  >
                </mat-form-field>
              </div>
            </ng-container>
            <ng-template #createAccount>
              <p>
                チケット料金の設定をするには、販売アカウントを作成してください。<a
                  class="settings__ticket"
                  (click)="
                    connectedAccountService.createStripeConnectedAccount()
                  "
                  >販売アカウント作成</a
                >
              </p>
            </ng-template>
          </div>
        </div>

        <button
          class="settings__update-btn"
          [disabled]="(form.invalid || form.pristine) && !newImageFile"
          [class.disabled]="(form.invalid || form.pristine) && !newImageFile"
          mat-raised-button
        >
          更新
        </button>
      </div>

      <div class="settings__avatar-wrap">
        <div class="settings__avatar" matTooltip="画像を設定">
          <div class="settings__cropper" *ngIf="oldImageFile">
            <deer-crop-trigger
              [options]="{
                aspectRatio: 1 / 1,
                oldImageUrl: oldImageFile
              }"
              (image)="onCroppedImage($event)"
            ></deer-crop-trigger>
          </div>
        </div>
      </div>

      <button
        class="settings__update-btn settings__update-btn--sp"
        [disabled]="(form.invalid || form.pristine) && !newImageFile"
        [class.disabled]="(form.invalid || form.pristine) && !newImageFile"
        mat-raised-botton
      >
        更新
      </button>
    </div>
  </form>
</ng-container>

<ng-template #view>
  <div class="processing">
    <img src="assets/images/three-dots.svg" alt="" />
  </div>
</ng-template>
