<ng-container *ngIf="user$ | async as user">
  <form [formGroup]="form">
    <div class="settings__profile">
      <div class="settings__avatar" matTooltip="画像を設定">
        <div class="settings__cropper">
          <deer-crop-trigger
            [options]="{
              aspectRatio: 1 / 1,
              oldImageUrl: imageFile
            }"
            (image)="onCroppedImage($event)"
          ></deer-crop-trigger>
        </div>
      </div>

      <div class="settings__info">
        <p class="settings__id">
          <span class="settings__label">ユーザーID</span>{{ user.uid }}
        </p>

        <div class="settings__name">
          <span class="settings__label">ユーザー名</span>
          <mat-form-field appearance="outline">
            <input
              class="settings__input"
              matInput
              autocomplete="off"
              formControlName="name"
              required
              #name
            />
          </mat-form-field>
        </div>
        <button
          (click)="updateUser()"
          class="setting__update-button"
          [disabled]="form.invalid || form.pristine"
          mat-raised-button
          color="primary"
        >
          更新
        </button>
      </div>
    </div>
  </form>
</ng-container>
