@import 'custom-style';

.reject {
  &__title {
    text-align: center;
    margin-bottom: 24px;
  }
  &__avatar-wrap {
    width: 100%;
    text-align: center;
  }
  &__avatar {
    width: 64px;
    height: 64px;
    border-radius: 8px;
    margin: 0 auto 24px;
  }
}
