<div class="top">
  <img class="top__img" src="/assets/images/hero.svg" alt="" />
</div>
<div class="top__overlay">
  <p class="top__heading">遊っびーましょ。</p>
  <p class="top__sub">オンラインイベントSNS</p>

  <a routerLink="signup" class="top__btn">今すぐ登録する</a>
</div>

<div class="block">
  <div class="block__heading">
    <p class="block__top">オンラインイベント開催</p>
    <p class="block__sub">楽しいイベントを作って公開、ここで開催。</p>
  </div>
  <img src="/assets/images/welcome-02.svg" alt="" class="block__img" />
</div>

<div class="block">
  <div class="block__heading">
    <p class="block__top">SNS</p>
    <p class="block__sub">
      イベントから友だちを見つける。友だちからイベントを見つける。
    </p>
  </div>
  <img src="/assets/images/welcome-03.svg" alt="" class="block__img" />
</div>

<div class="block">
  <div class="block__heading">
    <p class="block__top">1on1通話</p>
    <p class="block__sub">1対1の会話を申し込む。チケットを売って稼ぐ。</p>
  </div>
  <img src="/assets/images/welcome-04.svg" alt="" class="block__img" />
</div>

<div class="block">
  <div class="block__heading">
    <p class="block__top">オンライン決済</p>
    <p class="block__sub">イベント作成、集客、決済までココだけで完結。</p>
  </div>
  <img src="/assets/images/welcome-07.svg" alt="" class="block__img" />
</div>

<div class="block">
  <div class="block__heading">
    <p class="block__top">今すぐ始める</p>
    <p class="block__sub">あなたにとって価値のある時間を。</p>
  </div>
  <img
    src="/assets/images/welcome-06.svg"
    alt=""
    class="block__img block__img--last"
  />
  <div class="block__btns-wrap">
    <a routerLink="signup" class="block__btn">今すぐ登録する</a>
    <a (click)="authService.guestLogin()" class="block__btn">イベントを探す</a>
  </div>
</div>
