@import 'mixins';

mat-divider {
  margin: 24px 0;
}

.snslink {
  &__content {
    max-width: 280px;
  }
  &__inner {
    margin: 8px;
    display: flex;
    justify-content: space-between;
  }
  &__name {
    text-transform: capitalize;
  }
}

.unsubscribe {
  &__title {
    cursor: pointer;
    margin-bottom: 16px;
  }
  &__text {
    color: red;
  }
}
