<div class="unsubscribe">
  <h3 class="settings__heading">他アカウントとの連携</h3>
  <div class="snsLink">
    <ng-container *ngFor="let item of snsList">
      <ng-container *ngIf="linkedProviders | async as provider">
        <ng-container *ngIf="provider.includes(item + '.com'); else linked">
          <button
            class="snsLink__link-button"
            (click)="authService.unlinkAccount(item)"
          >
            {{ item }}連携を解除
          </button>
        </ng-container>
        <ng-template #linked>
          <button
            class="snsLink__link-button"
            (click)="authService.snsLink(item)"
          >
            {{ item }}連携
          </button>
        </ng-template>
      </ng-container>
    </ng-container>
  </div>

  <mat-divider></mat-divider>

  <h3 class="settings__heading settings__heading--unsubscribe">
    アカウント削除
  </h3>
  <ng-container *ngIf="user$ | async as user">
    <p class="unsubscribe__title" (click)="isOpen = !isOpen">
      退会をご希望の方はこちら
    </p>
    <div *ngIf="isOpen" @fade>
      <p class="unsubscribe__text">
        退会すると全ての利用データが失われ、あとから復元できません。
      </p>

      <mat-form-field class="unsubscribe__form">
        <input
          class="unsubscribe__input"
          matInput
          placeholder="ユーザー名を入力"
          #input
          autocomplete="off"
        />
        <mat-hint align="end">{{ user.name }}</mat-hint>
      </mat-form-field>

      <button
        class="unsubscribe__btn"
        mat-button
        [disabled]="user.name !== input.value"
        (click)="openDeleteDialog()"
      >
        退会
      </button>
    </div>
  </ng-container>

  <div class="unsubscribe__message" *ngIf="userService.isProcessing">
    <p>退会処理中です...</p>
  </div>
</div>
