$color-main: linear-gradient(
  to right bottom,
  rgba(#1ac4da, 1),
  rgba(#1bcbe0, 1)
);
$color-sub: linear-gradient(
  to right bottom,
  rgba(#1ac4da, 0.8),
  rgba(#1bcbe0, 0.8)
);
$color-accent: linear-gradient(
  to right bottom,
  rgba(#feb71f, 1),
  rgba(#ed9309, 1)
);
$color-base: linear-gradient(
  to right bottom,
  rgba(#fff, 0.038),
  rgba(#eee, 0.038)
);

$color-font: #fafafa;
$color-font-main: #1ac4da;
$color-bg-gray: #586365;

// フォントの指定
$font-logo: 'Alegreya Sans SC', sans-serif;
