@import 'custom-style';
@import 'mixins';

.result {
  &__hits {
    font-size: 24px;
    font-weight: 500;
    color: $color-font;
    margin-bottom: 24px;
    @include sp {
      font-size: 16px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 48px;
    @include sp {
      grid-template-columns: 1fr;
      row-gap: 8px;
    }
  }
}

@include pc {
  .event-parent {
    transition: 0.5s ease-in-out 0.5s;
    &:nth-of-type(4n + 1):hover {
      transform: translate(8%, -4%);
      z-index: 100;
    }
    &:nth-of-type(4n):hover {
      transform: translate(-8%, -4%);
      z-index: 100;
    }
  }

  .event {
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
      transform: scale(1.3);
      z-index: 100;
      transition: 0.5s ease-in-out 0.5s;
    }
    &:hover .event__thumbnail {
      padding: 0;
      img {
        border-radius: 12px;
      }
    }
    &:hover .event__actions {
      visibility: visible;
      transition: 0.5s ease-in-out 0.5s;
    }
    &:hover .event__body {
      bottom: 0;
    }
    &:hover .event__top {
      margin-bottom: 8px;
    }
    &:hover .event__btn {
      visibility: visible;
      transition: 0.5s ease-in-out 0.5s;
      mat-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 20px;
        transform: translateY(2px);
      }
      &:hover {
        border: 1px solid #fff;
        color: #fff;
      }
    }
    &:hover .event__description {
      visibility: visible;
    }
  }
}

.event {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  position: relative;
  transition: 0.3s ease-in-out;
  overflow: hidden;
  cursor: pointer;
  &__thumbnail {
    padding: 0px 24px;
    background: #303030;
    border-radius: 12px;
    transition: 0.5s ease-in-out 0.5s;
    img {
      transition: 0.5s ease-in-out 0.5s;
      max-width: 100%;
    }
  }
  &__category {
    position: absolute;
    top: 16px;
    left: 0;
    background: $color-sub;
    color: #fff;
    padding-left: 16px;
  }
  &__top {
    display: flex;
    align-items: center;
    transition: 0.5s ease-in-out 0.5s;
  }
  &__name {
    font-size: 14px;
  }
  &__body {
    width: 100%;
    position: absolute;
    bottom: -24px;
    left: 0;
    background: rgba(0, 0, 0, 0.38);
    color: #fff;
    padding: 8px 16px;
    border-radius: 0 0 10px 10px;
    font-size: 12px;
    transition: 0.5s ease-in-out 0.5s;
    @include sp {
      padding: 16px;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    margin-left: auto;
    visibility: hidden;
    transition: 0.5s ease-in-out 0.5s;
    @include sp {
      visibility: visible;
    }
  }
  &__btn {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: transparent;
    color: #ccc;
    margin-left: 8px;
    position: relative;
    cursor: pointer;
    visibility: hidden;
    @include sp {
      visibility: visible;
      width: 24px;
      height: 24px;
      mat-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        font-size: 16px;
        transform: translateY(4px);
      }
    }
  }
  &__description {
    display: flex;
    align-items: center;
    visibility: hidden;
  }
  &__count-wrap {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .spacer {
    flex: 1;
  }
}

.hover-card {
  transform: translateY(-120px);
}

.not-found {
  min-height: calc(100vh - 128px);
  display: grid;
  place-items: center;
  place-content: center;
  font-size: 14px;
  opacity: 0.6;
  &__text:last-of-type {
    margin-bottom: 24px;
  }
}
