<div class="channel">
  <ng-container *ngIf="event$ | async as event">
    <p class="channel__title">{{ event.name }}</p>
    <!-- <div class="channel__camera">
        <ng-template #nobady>
          <p class="channel__title">まだだれもいません</p>
        </ng-template>
      </div> -->

    <ng-container *ngIf="players">
      <div id="local-player" class="player player--more-player"></div>
    </ng-container>

    <!-- <div class="channel__default">
      <div>
        <p id="local-player-name" class="player-name"></p>
        <div id="local-player" class="player"></div>
      </div>
      <div id="remote-player-list"></div>
    </div> -->

    <div class="actions">
      <ng-template #video>
        <button class="actions__btn" (click)="publishVideo()">
          <mat-icon class="actions__icon">videocam</mat-icon>
        </button>
      </ng-template>

      <button
        *ngIf="isPublishVideo; else video"
        class="actions__btn"
        (click)="unPublishVideo()"
      >
        <mat-icon class="actions__icon">videocam_off</mat-icon>
      </button>

      <ng-template #microphone>
        <button class="actions__btn" (click)="publishAudio()">
          <mat-icon class="actions__icon">volume_up</mat-icon>
        </button>
      </ng-template>

      <button
        *ngIf="isPublishMicrophone; else microphone"
        class="actions__btn"
        (click)="unPublishAudio()"
      >
        <mat-icon class="actions__icon">volume_off</mat-icon>
      </button>

      <ng-template #screen>
        <button class="actions__btn" (click)="publishScreen()">
          <mat-icon class="actions__icon">desktop_windows</mat-icon>
        </button>
      </ng-template>

      <button
        *ngIf="isPublishScreen; else screen"
        class="actions__btn"
        (click)="unPublishScreen()"
      >
        <mat-icon class="actions__icon">desktop_access_disabled</mat-icon>
      </button>

      <button class="actions__btn" (click)="leaveChannel()">
        <mat-icon class="actions__icon">exit_to_app</mat-icon>
      </button>
    </div>
  </ng-container>
</div>
