<div class="channel">
  <ng-container *ngIf="event$ | async as event">
    <ng-container *ngIf="!isPublishScreen; else shareScreen">
      <div
        *ngIf="!event.isShareScreen"
        id="local-player"
        class="player player--more-player"
        [class.player--1-player]="event.participantCount === 1"
        [class.player--2-player]="
          event.participantCount > 1 && event.participantCount < 3
        "
        [class.player--more-player]="event.participantCount > 2"
        [class.invisible]="isProcessing"
      >
        <ng-container *ngFor="let user of participants$ | async">
          <ng-container *ngIf="videoPublishUserIds$ | async as ids">
            <div
              *ngIf="!ids.includes(user.uid)"
              class="participants"
              [class.invisible]="isProcessing"
            >
              <img
                class="participants__photo"
                [class.invisible]="isProcessing"
                [src]="user.avatarURL"
                alt=""
              />
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div
        *ngIf="event.isShareScreen"
        id="share-screen"
        class="screen"
        [class.invisible]="isProcessing"
      ></div>
    </ng-container>

    <ng-template #shareScreen>
      <p class="channel__title" [class.invisible]="isProcessing">
        画面共有中です
      </p>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="isProcessing">
    <div class="lodading-wrap">
      <img class="loading" src="assets/images/grid.svg" alt="" />
    </div>
  </ng-container>
</div>

<div class="actions">
  <ng-template #video>
    <button
      matTooltip="カメラをオン"
      class="actions__btn"
      (click)="publishVideo()"
    >
      <mat-icon class="actions__icon">videocam</mat-icon>
    </button>
  </ng-template>

  <button
    *ngIf="isPublishVideo; else video"
    matTooltip="カメラをオフ"
    class="actions__btn actions__btn--active"
    (click)="unPublishVideo()"
  >
    <mat-icon class="actions__icon">videocam_off</mat-icon>
  </button>

  <ng-template #microphone>
    <button
      matTooltip="ミュートを解除"
      class="actions__btn actions__btn--active"
      (click)="publishAudio()"
    >
      <mat-icon class="actions__icon">volume_off</mat-icon>
    </button>
  </ng-template>

  <button
    *ngIf="isPublishMicrophone; else microphone"
    matTooltip="ミュート"
    class="actions__btn"
    (click)="unPublishAudio()"
  >
    <mat-icon class="actions__icon">volume_up</mat-icon>
  </button>

  <ng-template #screen>
    <button
      matTooltip="画面共有"
      class="actions__btn"
      (click)="publishScreen()"
    >
      <mat-icon class="actions__icon">desktop_windows</mat-icon>
    </button>
  </ng-template>

  <button
    *ngIf="isPublishScreen; else screen"
    matTooltip="画面共有を停止"
    class="actions__btn actions__btn--active"
    (click)="unPublishScreen()"
  >
    <mat-icon class="actions__icon">desktop_access_disabled</mat-icon>
  </button>

  <button
    matTooltip="退室"
    class="actions__btn actions__btn--exit"
    (click)="leaveChannel()"
  >
    <mat-icon class="actions__icon">exit_to_app</mat-icon>
  </button>
</div>
