@import 'custom-style';
@import 'mixins';

.header {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  position: relative;
  color: $color-font;
  @include sp {
    margin-top: 0;
    padding: 8px 16px;
  }
  &__title {
    font-size: 24px;
    text-shadow: 0 0 6px rgb(202 228 225 / 92%), 0 0 30px rgb(202 228 225 / 34%),
      0 0 12px rgb(30 132 242 / 52%), 0 0 21px rgb(27 203 224 / 92%),
      0 0 30px rgb(27 203 224 / 78%);
    @include sp {
      font-size: 14px;
    }
  }
}

.drawer-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right bottom, #121212, #303030);
  border-radius: 8px;
  padding: 0 16px;
  @include sp {
    padding: 0;
    border-radius: 0;
  }
}

app-stream {
  width: 100%;
}

.mat-drawer-side.mat-drawer-end {
  border-left: none;
}

.channel-wrap {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  &.fullscreen {
    overflow-x: auto;
  }
}

.channel {
  &.mainNav {
    min-width: calc(100vw - 256px - 32px);
    @include sp {
      min-width: 100vw;
    }
  }
  &.miniNav {
    min-width: calc(100vw - 74px - 32px);
    @include sp {
      min-width: 100vw;
    }
  }
  height: calc(100vh - 74px - 68px);
  padding: 24px;
  background: #000;
  border-radius: 12px;
  margin-right: 16px;
  @include sp {
    padding: 0;
    height: calc(100vh - 50px - 56px);
    border-radius: 0;
  }
  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    text-align: center;
    color: #fff;
    padding: 24px;
    position: absolute;
    font-size: 80px;
  }
  &__camera {
    min-height: 80vh;
  }
  &__default {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    grid-template-columns: auto;
  }
  &__prev {
    position: absolute;
    top: 50%;
    left: -12px;
    transform: translateY(-50%);
    z-index: 100;
    &.fullscreen {
      position: fixed;
    }
  }
  &__next {
    position: absolute;
    top: 50%;
    right: -12px;
    transform: translateY(-50%);
    z-index: 100;
    &.fullscreen {
      position: fixed;
    }
  }
}

.actions {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  &__btn {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(#fff, 0.038), rgba(#eee, 0.038));
    box-shadow: rgba(0, 0, 0, 0.28) 0px 4px 16px;
    color: $color-font;
    transition: all 0.5s 0.1s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    z-index: 0;
    & + & {
      margin-left: 16px;
    }
    @include sp {
      width: 40px;
      height: 40px;
      margin: 0 8px;
    }
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: linear-gradient(
        to right,
        rgba(#fff, 0.028),
        rgba(#eee, 0.028)
      );
      position: absolute;
      z-index: -1;
      left: 0;
      transition: all 0.25s ease;
    }
    &:after {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #fafafa;
      position: absolute;
      z-index: -2;
      left: 0;
      opacity: 0;
      transition: all 0.25s ease;
    }
    &:hover:before {
      opacity: 0;
    }
    &:hover:after {
      opacity: 0.2;
    }
    &--active {
      &:after {
        opacity: 1;
        background-color: #333;
      }
      mat-icon {
        color: #fafafa;
      }
      &:hover:after {
        opacity: 0.8;
      }
    }
    &--exit {
      &:after {
        opacity: 1;
        background-color: #f23e40;
      }
      mat-icon {
        color: #fafafa;
      }
      &:hover:after {
        opacity: 0.8;
      }
    }
    &--disabled {
      cursor: auto;
      pointer-events: none;
      &:after {
        opacity: 0.8;
        background-color: #333;
      }
    }
    &--close {
      color: #eee;
      position: absolute;
      top: 40px;
      left: 24px;
      z-index: 1000;
      @include sp {
        top: 16px;
        left: 16px;
      }
      &.fullscreen {
        position: fixed;
      }
    }
  }
}

.player {
  min-height: 100%;
  display: grid;
  gap: 32px;
  border-radius: 8px;
  @include sp {
    gap: 0px;
  }
  &--1-player {
    grid-template-columns: 1fr;
    height: 70vh;
    @include sp {
      height: 100vh;
    }
  }
  &--2-player {
    grid-template-columns: 1fr 1fr;
    height: 70vh;
    @include sp {
      grid-template-columns: 1fr;
      height: 50vh;
    }
  }
  &--20-player {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(64px, 1fr));
    @include sp {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.screen {
  width: 100%;
  height: 90vh;
}

.player-name {
  margin: 8px 0;
  color: #fafafa;
}

#remote-player-list {
  margin-left: 20px;
  color: #fafafa;
}

.participants {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(183, 183, 183, 0.2);
  border-radius: 8px;
  @include sp {
    border-radius: 0;
  }
  &__photo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &__info {
    position: absolute;
    bottom: 8px;
    right: 8px;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    padding: 4px 8px;
  }
  &__name {
    font-size: 10px;
  }
}

.loading-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #000;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
}

.invisible {
  opacity: 0;
  position: fixed;
  transition: all 600ms;
  z-index: -1;
  pointer-events: none;
}
