@import 'custom-style';

.header {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-top: 16px;
  position: relative;
  &__avatar {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    border-radius: 50%;
    background: center/cover rgba(0, 0, 0, 0.5);
  }
  &__name {
    font-size: 20px;
    color: $color-font;
  }
}

.drawer-container {
  width: 100%;
  height: calc(100vh - 56px - 81px - 40px);
  padding: 8px 16px;
}

app-stream {
  width: 100%;
}

.room-title {
  display: flex;
  margin-left: 24px;
  color: $color-font;
  &__label {
    align-items: center;
    margin-right: 8px;
    color: white;
    font-size: 12px;
    border-radius: 14px;
    padding: 6px 12px 4px;
    background: $color-sub;
    letter-spacing: 1.2px;
  }
  &__name {
    font-size: 18px;
  }
  &__chat-button {
    position: absolute;
    color: white;
    right: 100px;
    font-size: 12px;
    border-radius: 14px;
    padding: 6px 12px 6px;
    background: $color-main;
  }
}

.mat-drawer-side.mat-drawer-end {
  border-left: none;
}
