<ng-container *ngIf="eventWithOwner$ | async as event">
  <mat-drawer-container class="drawer-container" autosize>
    <div class="header">
      <p class="header__title">{{ event.name }}</p>
      <button
        class="event-room-btn"
        (click)="
          uiService.isOpen = !uiService.isOpen;
          uiService.selector = 'participant'
        "
      >
        <mat-icon class="event-room-btn__icon event-room-btn__icon--mr"
          >group</mat-icon
        >{{ event.participantCount }}
      </button>
      <span class="spacer"></span>
      <button class="event-room-btn event-room-btn--main">
        <mat-icon class="event-room-btn__icon">add</mat-icon>
        招待
      </button>
    </div>

    <ng-container *ngIf="event$ | async as event">
      <div class="channel" id="channel">
        <button
          *ngIf="isFullScreen"
          matTooltip="戻る"
          class="actions__btn actions__btn--close"
          (click)="exitFullscreen()"
        >
          <mat-icon class="actions__icon">close_fullscreen</mat-icon>
        </button>
        <ng-container *ngIf="participants$ | async as participants">
          <div
            id="local-player"
            class="player"
            [class.player--1-player]="participants.length === 1 || !isPcScreen"
            [class.player--2-player]="
              participants.length > 1 && participants.length < 3 && isPcScreen
            "
            [class.player--more-player]="participants.length > 2 && isPcScreen"
            [class.invisible]="isProcessing || event.isShareScreen"
          >
            <ng-container *ngFor="let user of participants">
              <ng-container *ngIf="videoPublishUserIds$ | async as ids">
                <div
                  *ngIf="!ids.includes(user.uid)"
                  class="participants"
                  [class.invisible]="isProcessing"
                >
                  <img
                    class="participants__photo"
                    [class.invisible]="isProcessing"
                    [src]="user.avatarURL"
                    alt=""
                  />
                </div>
              </ng-container>
            </ng-container>
          </div>
          <div
            id="share-screen"
            class="screen"
            [class.invisible]="isProcessing || !event.isShareScreen"
          ></div>
        </ng-container>

        <ng-container *ngIf="isProcessing">
          <div class="lodading-wrap">
            <img class="loading" src="assets/images/grid.svg" alt="" />
          </div>
        </ng-container>
      </div>
    </ng-container>

    <div class="actions">
      <ng-template #video>
        <button
          matTooltip="カメラをオン"
          class="actions__btn"
          (click)="publishVideo()"
          [disabled]="event.isShareScreen"
          [class.actions__btn--disabled]="event.isShareScreen"
        >
          <mat-icon class="actions__icon">videocam</mat-icon>
        </button>
      </ng-template>

      <button
        *ngIf="isPublishVideo; else video"
        matTooltip="カメラをオフ"
        class="actions__btn actions__btn--active"
        (click)="unPublishVideo()"
      >
        <mat-icon class="actions__icon">videocam_off</mat-icon>
      </button>

      <ng-template #microphone>
        <button
          matTooltip="ボイスをオン"
          class="actions__btn"
          (click)="publishAudio()"
        >
          <mat-icon class="actions__icon">volume_up</mat-icon>
        </button>
      </ng-template>

      <button
        *ngIf="isPublishMicrophone; else microphone"
        matTooltip="ミュート"
        class="actions__btn actions__btn--active"
        (click)="unPublishAudio()"
      >
        <mat-icon class="actions__icon">volume_off</mat-icon>
      </button>

      <ng-template #screen>
        <button
          matTooltip="画面共有"
          class="actions__btn"
          (click)="publishScreen()"
          [disabled]="event.isShareScreen"
          [class.actions__btn--disabled]="event.isShareScreen"
        >
          <mat-icon class="actions__icon">desktop_windows</mat-icon>
        </button>
      </ng-template>

      <button
        *ngIf="isPublishScreen; else screen"
        matTooltip="画面共有を停止"
        class="actions__btn actions__btn--active"
        (click)="unPublishScreen()"
      >
        <mat-icon class="actions__icon">desktop_access_disabled</mat-icon>
      </button>

      <button
        matTooltip="コメント"
        class="actions__btn"
        [class.actions__btn--active]="uiService.isOpen"
        (click)="
          uiService.isOpen = !uiService.isOpen; uiService.selector = 'chat'
        "
      >
        <mat-icon class="actions__icon">comment</mat-icon>
      </button>

      <button
        matTooltip="退室"
        class="actions__btn actions__btn--exit"
        (click)="leaveChannel()"
      >
        <mat-icon class="actions__icon">exit_to_app</mat-icon>
      </button>
      <button
        matTooltip="全画面表示"
        class="actions__btn"
        (click)="goFullscreen()"
      >
        <mat-icon class="actions__icon">fullscreen</mat-icon>
      </button>
    </div>

    <mat-drawer
      class="drawer"
      #drawer
      position="end"
      [mode]="isPcScreen ? 'side' : 'over'"
      [autoFocus]="false"
      [opened]="uiService.isOpen"
    >
      <app-chat
        [eventId]="eventId"
        [uid]="uid"
        [participants]="participants"
        [event]="event"
      ></app-chat>
    </mat-drawer>
  </mat-drawer-container>
</ng-container>
