<h1 matDialogTitle class="dialog-header">フォロワー</h1>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div class="follower" *ngFor="let follower of targetUserFollowers$ | async">
    <a
      class="follower__avatar"
      routerLink="/{{ follower?.uid }}"
      matDialogClose
    >
      <img src="{{ follower?.avatarURL }}" alt="" />
    </a>
    <a class="follower__name" routerLink="/{{ follower?.uid }}" matDialogClose>
      {{ follower?.name }}
    </a>
    <span class="spacer"></span>
    <ng-container
      *ngIf="myFollowingUids$ | async as myFollowingUids; else follow"
    >
      <button
        *ngIf="follower.uid !== data.authUid"
        mat-stroked-button
        class="follower__btn"
        (click)="
          myFollowingUids.includes(follower?.uid)
            ? followService.unFollow(data.authUid, follower.uid)
            : followService.follow(data.authUid, follower.uid)
        "
      >
        {{
          myFollowingUids.includes(follower?.uid)
            ? 'フォロー中'
            : 'フォローする'
        }}
      </button>
    </ng-container>
    <ng-template #follow>
      <button
        mat-stroked-button
        class="follower__btn"
        (click)="followService.follow(data.authUid, follower.uid)"
      >
        フォローする
      </button>
    </ng-template>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button mat-flat-button matDialogClose class="close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
