@import 'custom-style';

.dialog-header {
  text-align: center;
}

.follower {
  display: flex;
  align-items: center;
  margin: 16px 0;
  &__avatar {
    overflow: hidden;
    margin-right: 16px;
    img {
      text-align: center;
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
  }
  &__name {
    text-align: center;
    color: #fafafa;
    &:hover {
      opacity: 0.6;
    }
  }
  &__btn {
    font-size: 12px;
  }
}

.close {
  margin-left: auto;
  &__icon {
    color: white;
  }
}
