.notification {
  width: 344px;
  min-height: 80px;
  margin: 24px;
  padding: 16px;
  border-radius: 8px;
  background: rgba(#fff, 0.6);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 48px 1fr 24px;
  gap: 8px;
  cursor: pointer;
  &__image {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    border-radius: 8px;
  }
  &__title {
    font-weight: 500;
    font-size: 14px;
  }
  &__text {
    font-size: 12px;
  }
  &.close {
    display: none;
  }
}

.notify-wrap {
  position: relative;
}

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInRight;
}
