<div class="bottom-actions">
  <button mat-ripple class="bottom-actions__home" routerLink="/">
    <mat-icon>home</mat-icon>
    <p>ホーム</p>
  </button>
  <button mat-ripple class="bottom-actions__users" routerLink="/users">
    <mat-icon>people</mat-icon>
    <p>メンバー</p>
  </button>
  <button mat-ripple class="bottom-actions__search" routerLink="/search/event">
    <mat-icon>search</mat-icon>
    <p>検索</p>
  </button>
  <button mat-ripple class="bottom-actions__editor" routerLink="/editor">
    <mat-icon>add</mat-icon>
    <p>イベント作成</p>
  </button>
</div>
