<div class="container container--intl">
  <h1 class="intl__title">運営チーム</h1>

  <div class="intl__content-box intl__content-box--eventstand">
    <h2 class="intl__heading">メンバー</h2>
    <a
      href="https://twitter.com/yuki_kouno_jp?ref_src=twsrc%5Etfw"
      class="footer__menu"
      >> Yuki</a
    >
    <a
      href="https://twitter.com/hd_wastecollect?ref_src=twsrc%5Etfw"
      class="footer__menu"
      >> Hide</a
    >
    <a
      href="https://twitter.com/yuutan_0202?ref_src=twsrc%5Etfw"
      class="footer__menu"
      >> GunGun</a
    >
  </div>

  <a mat-stroked-button routerLink="/">戻る</a>
</div>
