<div class="event">
  <div class="event__header">
    <img [src]="data.event.thumbnailURL" alt="" class="event__img" />
    <p class="event__reserve">
      現在
      {{ data.event.reserveUserCount ? data.event.reserveUserCount : 0 }}
      人が参加予定❤️
    </p>
  </div>

  <mat-dialog-content>
    <div class="event__body">
      <div class="event__date-wrap">
        <p class="event__date">
          {{ data.event.startAt.toDate() | date: 'M/dd E HH:mm 〜' }}
        </p>
        <ng-container *ngIf="data.event.exitAt">
          <p class="event__exitAt">
            {{ data.event.exitAt.toDate() | date: 'M/dd E HH:mm':'' }}
          </p>
        </ng-container>
      </div>

      <div class="event__detail">
        <p class="event__category">{{ data.event.category }}</p>
        <p class="event__name">{{ data.event.name }}</p>

        <mat-divider></mat-divider>

        <p class="event__info-heading">参加予定の人</p>
        <div class="user">
          <ul
            *ngIf="reservedUsers$ | async as users; else zero"
            class="user__list-wrap"
          >
            <li *ngFor="let user of users" class="user__list">
              <img
                [src]="user.avatarURL"
                alt=""
                [matTooltip]="user.name"
                class="user__avatar"
                (click)="navigateMyPage(user.uid)"
              />
            </li>
          </ul>
          <ng-template #zero>
            <p>まだいません...</p>
          </ng-template>
        </div>

        <mat-divider></mat-divider>

        <p class="event__info-heading">イベント詳細</p>
        <div class="info">
          <p class="info__description">{{ data.event.description }}</p>

          <p class="info__heading">主催者</p>
          <div class="info__owner-wrap" *ngIf="owner$ | async as owner">
            <img
              class="info__owner-avatar"
              [src]="owner.avatarURL"
              alt=""
              (click)="navigateMyPage(owner.uid)"
            />
            <p class="info__owner-name">{{ owner.name }}</p>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
</div>

<mat-dialog-actions class="actions">
  <button class="actions__back" mat-button matDialogClose type="button">
    閉じる
  </button>
  <ng-container [ngSwitch]="data.type">
    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="data.uid; else default">
        <ng-container *ngIf="reservedUids$ | async as uids">
          <ng-container *ngIf="!uids.includes(data.uid); else cancel">
            <button
              mat-raised-button
              class="actions__submit"
              (click)="reserveEvent(data.event)"
              mat-dialog-close
            >
              イベントを予約
            </button>
          </ng-container>
          <ng-template #cancel>
            <button
              mat-raised-button
              class="actions__submit"
              (click)="cancelReserve(data.event)"
              mat-dialog-close
            >
              予約をキャンセル
            </button>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="data.event.startAt < eventService.dateNow">
          <button
            mat-raised-button
            class="actions__submit"
            (click)="joinChannel(data.event.eventId, data.uid)"
            mat-dialog-close
          >
            イベントに参加
          </button>
        </ng-container>
      </ng-container>
      <ng-template #default>
        <button
          mat-raised-button
          class="actions__submit"
          (click)="openInfoDialog()"
          mat-dialog-close
          [class.disable]="!data.uid"
        >
          イベントを予約
        </button>
        <button
          mat-raised-button
          class="actions__submit"
          (click)="openInfoDialog()"
          mat-dialog-close
          [class.disable]="!data.uid"
        >
          イベントに参加
        </button>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'owner'">
      <button
        mat-raised-button
        class="actions__submit"
        (click)="deleteEvent(data.event.eventId)"
        mat-dialog-close
      >
        イベントを削除
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="'past'"></ng-container>
  </ng-container>
</mat-dialog-actions>
