@import 'custom-style';
@import 'mixins';

.event {
  &__header {
    position: relative;
  }
  &__body {
    padding: 8px 16px;
    @include sp {
      padding: 16px;
    }
  }
  &__reserve {
    padding: 8px 16px;
    position: absolute;
    top: 0;
    left: 0;
    background: $color-sub;
    color: #fff;
    font-size: 14px;
  }
  &__date-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__date {
    display: flex;
    align-items: center;
    margin-right: 8px;
  }
  &__startAt {
    margin-right: 4px;
  }
  &__exitAt {
    margin-left: 4px;
  }
  &__category {
    font-size: 14px;
    margin-bottom: 8px;
  }
  &__name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 16px;
  }
  &__info-heading {
    font-size: 14px;
    font-weight: 500;
  }
  mat-divider {
    margin-bottom: 16px;
  }
}

.actions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
  padding: 0 16px;
  margin-bottom: 24px;
  @include sp {
    padding: 16px;
  }
  &__submit {
    background: $color-main;
    color: #fff;
    &:hover {
      background: $color-accent;
    }
    &.disable {
      background: #eee;
      color: $color-font;
    }
  }
}

.mat-dialog-actions .mat-button-base + .mat-button-base {
  margin-left: 0;
}
