<div class="event">
  <div class="event__header">
    <img [src]="data.event.thumbnailURL" alt="" class="event__img" />
    <p class="event__reserve">
      現在
      {{ data.event.reserveUserCount ? data.event.reserveUserCount : 0 }}
      人が参加予定 ❤️
    </p>
  </div>

  <mat-dialog-content>
    <div class="event__body">
      <div class="event__date-wrap">
        <div
          class="event__date"
          *ngIf="uiService.dialogType === 'search'; else default"
        >
          <p class="event__startAt">
            {{ data.event.startAt | date: 'M/d(E) HH:mm' }}
          </p>
          <p>〜</p>
          <p class="event__exitAt">
            {{ data.event.exitAt | date: 'M/d(E) HH:mm' || '' }}
          </p>
        </div>

        <ng-template #default>
          <div class="event__date">
            <p class="event__startAt">
              {{ data.event.startAt.toDate() | date: 'M/d(E) HH:mm' }}
            </p>
            <p>〜</p>
            <p class="event__exitAt">
              {{ data.event.exitAt.toDate() | date: 'M/d(E) HH:mm' || '' }}
            </p>
          </div>
        </ng-template>

        <ng-container *ngIf="data.event.ownerId === data.uid">
          <button
            mat-stroked-button
            type="button"
            (click)="navigateEditor(data.event)"
          >
            イベントを編集
          </button>
        </ng-container>
      </div>
    </div>
  </mat-dialog-content>
</div>

<mat-dialog-actions class="actions">
  <button class="actions__back" mat-button matDialogClose type="button">
    閉じる
  </button>
  <ng-container [ngSwitch]="data.type">
    <ng-container *ngSwitchDefault>
      <ng-container *ngIf="data.uid; else default">
        <ng-container *ngIf="reservedUids$ | async as uids">
          <ng-container *ngIf="!uids.includes(data.uid); else cancel">
            <button
              mat-raised-button
              class="actions__submit"
              (click)="reserveEvent(data.event)"
              mat-dialog-close
            >
              イベントを予約
            </button>
          </ng-container>
          <ng-template #cancel>
            <button
              mat-raised-button
              class="actions__submit"
              (click)="cancelReserve(data.event)"
              mat-dialog-close
            >
              予約をキャンセル
            </button>
          </ng-template>
        </ng-container>
        <ng-container *ngIf="data.event.startAt < eventService.dateNow">
          <button
            mat-raised-button
            class="actions__submit"
            (click)="joinChannel(data.event.eventId, data.uid)"
            mat-dialog-close
          >
            イベントに参加
          </button>
        </ng-container>
      </ng-container>
      <ng-template #default>
        <button
          mat-raised-button
          class="actions__submit"
          (click)="openInfoDialog()"
          mat-dialog-close
          [class.disable]="!data.uid"
        >
          イベントを予約
        </button>
        <button
          mat-raised-button
          class="actions__submit"
          (click)="openInfoDialog()"
          mat-dialog-close
          [class.disable]="!data.uid"
        >
          イベントに参加
        </button>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="'owner'">
      <button
        mat-raised-button
        class="actions__submit"
        (click)="openDeleteDialog(data.event.eventId)"
        mat-dialog-close
      >
        イベントを削除
      </button>
    </ng-container>

    <ng-container *ngSwitchCase="'past'">
    </ng-container>
  </ng-container>
</mat-dialog-actions>
