<mat-tab-group mat-align-tabs="center">
  <mat-tab label="購入履歴"><app-purchase-list></app-purchase-list></mat-tab>
  <ng-container *ngIf="connectAccount$ | async">
    <mat-tab label="販売履歴"
      ><app-invoice-list
        [connectAccountId]="connectAccount$.connectedAccountId"
      ></app-invoice-list
    ></mat-tab>
  </ng-container>
  <mat-tab label="振込申請"><app-payout></app-payout></mat-tab>
  <mat-tab label="お支払いカード"
    ><app-register-card></app-register-card
  ></mat-tab>
</mat-tab-group>
