@import 'custom-style';

:host {
  min-height: 100%;
}

.settings {
  padding: 24px 0;
  &__header {
    display: flex;
    align-items: center;
    margin: 24px 0;
  }
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  &__name {
    margin-left: 8px;
  }
  &__main {
    display: grid;
    grid-template-columns: 160px 1fr;
    gap: 24px;
  }
  &__outlet {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    border-radius: 8px;
    padding: 48px;
  }
}
