<div class="container">
  <div class="settings">
    <ng-container *ngIf="user$ | async as user">
      <div class="settings__header">
        <img [src]="user.avatarURL" alt="" class="settings__avatar" />
        <p class="settings__name">{{ user.name }}</p>
      </div>

      <div class="settings__main">
        <aside>
          <mat-nav-list>
            <a
              routerLink="profile"
              [routerLinkActive]="['active']"
              mat-list-item
              class="settings__item"
            >
              <p>プロフィール</p>
            </a>
            <a
              routerLink="account"
              [routerLinkActive]="['active']"
              mat-list-item
              class="settings__item"
            >
              <p>アカウント</p>
            </a>
            <a
              routerLink="notifications"
              [routerLinkActive]="['active']"
              mat-list-item
              class="settings__item"
            >
              <p>通知</p>
            </a>
            <a
              routerLink="privacy"
              [routerLinkActive]="['active']"
              mat-list-item
              class="settings__item"
            >
              <p>プライバシー</p>
            </a>
            <a
              routerLink="payment"
              [routerLinkActive]="['active']"
              mat-list-item
              class="settings__item"
            >
              <p>お支払い管理</p>
            </a>
          </mat-nav-list>
        </aside>

        <div class="settings__outlet">
          <router-outlet></router-outlet>
        </div>
      </div>
    </ng-container>
  </div>
</div>
