<div class="settings">
  <h1 class="settings__title">プロフィール編集</h1>
  <ng-container *ngIf="user$ | async as user">
    <form [formGroup]="form" (ngSubmit)="updateUser()">
      <div class="settings__profile">
        <div class="settings__avatar" matTooltip="画像を設定">
          <div class="settings__cropper">
            <deer-crop-trigger
              [options]="{
                aspectRatio: 1 / 1,
                oldImageUrl: oldImageUrl
              }"
              (image)="onCroppedImage($event)"
            ></deer-crop-trigger>
          </div>
        </div>

        <div class="settings__info">
          <div class="settings__id">
            <p class="settings__label">ユーザーID</p>
            <p class="settings__value">{{ user.uid }}</p>
          </div>

          <div class="settings__name">
            <p class="settings__label">ユーザー名</p>
            <div class="settings__value">
              <mat-form-field appearance="outline">
                <input
                  matInput
                  autocomplete="off"
                  formControlName="name"
                  required
                  #name
                />
                <mat-hint align="end"
                  >{{ form.get("name").value.length }} /
                  {{ nameMaxLength }}</mat-hint
                >
                <mat-error *ngIf="form.get('name').hasError('maxlength')"
                  >最大{{ nameMaxLength }}文字です。</mat-error
                >
                <mat-error *ngIf="form.get('name').hasError('required')">
                  必須入力です。
                </mat-error>
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
      <div class="actions">
        <button type="button" mat-button class="actions__back" routerLink="/">
          戻る
        </button>
        <button
          [disabled]="form.invalid || form.pristine || isProcessing"
          mat-raised-button
          color="primary"
        >
          更新
        </button>
      </div>
    </form>
  </ng-container>
</div>
