<div class="container">
  <h2>1. Start your Webcam</h2>
  <div class="videos">
    <span>
      <h3>Local Stream</h3>
      <video
        *ngIf="localStream; else sublocal"
        autoplay
        playsinline
        [muted]="isLocalMute"
        #webcamVideo
        [srcObject]="localStream"
      ></video>
      <ng-template #sublocal>
        <video src=""></video>
      </ng-template>
      <button
        mat-icon-button
        *ngIf="!isLocalMute; else volumeOn"
        (click)="isLocalMute = true"
      >
        <mat-icon>volume_off</mat-icon>
      </button>
      <ng-template #volumeOn>
        <button mat-icon-button (click)="isLocalMute = false">
          <mat-icon>volume_up</mat-icon>
        </button>
      </ng-template>
    </span>
    <span>
      <h3>Remote Stream</h3>
      <video
        *ngIf="remoteStream; else subremote"
        autoplay
        playsinline
        [muted]="isRemoteMute"
        #remoteVideo
        [srcObject]="remoteStream"
      ></video>
      <ng-template #subremote>
        <video src=""></video>
      </ng-template>
      <button
        mat-icon-button
        *ngIf="!isRemoteMute; else volumeOn"
        (click)="isRemoteMute = true"
      >
        <mat-icon>volume_off</mat-icon>
      </button>
      <ng-template #volumeOn>
        <button mat-icon-button (click)="isRemoteMute = false">
          <mat-icon>volume_up</mat-icon>
        </button>
      </ng-template>
    </span>
  </div>

  <!-- <button
    id="webcamButton"
    mat-button
    (click)="publishWebcam()"
    [disabled]="isPublishWebcam"
  >
    カメラをオン
  </button>
  <h2>2. Create a new Call</h2>
  <button
    mat-button
    id="callButton"
    [disabled]="!isPublishWebcam"
    (click)="createRoom()"
  >
    Create Call (offer)
  </button> -->

  <button
    *ngIf="!isOwner"
    mat-button
    id="answerButton"
    [disabled]="!isPublishWebcam"
    (click)="answer()"
  >
    通信開始
  </button>

  <h2>通話終了</h2>

  <button id="hangupButton" [disabled]="!isCreateRoom" (click)="Hangup()">
    通話終了
  </button>
</div>
