@import 'custom-style';
.card {
  &__content {
    border-radius: 10px;
    height: 320px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
    background-color: #fff;
    cursor: pointer;
    transition: ease 0.3s;
    &:hover {
      transition-duration: 0.3s;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__body {
    color: $color-font;
    padding: 8px;
    display: grid;
    grid-template-columns: 80px 4px 1fr;
  }
  &__date-wrap {
    margin-top: 8px;
  }
  &__date {
    font-size: 24px;
    font-weight: 600;
    padding: 16px 16px 8px 16px;
    display: grid;
    place-items: center;
  }
  &__day {
    align-items: center;
    display: grid;
    place-items: center;
  }
  &__detail {
    margin-left: 16px;
  }
  &__category {
    min-width: 80%;
    display: inline-block;
    background: $color-sub;
    color: #fff;
    padding: 2px 4px;
    font-size: 14px;
    margin-bottom: 8px;
  }
  &__name {
    color: #505050;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 2px;
  }
  &__info {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.pipe {
  width: 2px;
  height: 100px;
  background: rgba(#000, 0.16);
}
