@import 'custom-style';
.card {
  cursor: pointer;
  &__content {
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
    background-color: rgb(235, 235, 235);
    &:hover {
      transition-duration: 0.3s;
      box-shadow: 0 5px 20px gray;
    }
  }
  &__img {
    width: 100%;
    object-fit: cover;
  }
  &__body {
    color: $color-font;
    padding: 8px;
    display: grid;
    grid-template-columns: 80px 4px 1fr;
  }
  &__date {
    font-size: 24px;
    font-weight: 600;
    padding: 16px 16px 8px 16px;
    display: grid;
    place-items: center;
  }
  &__day {
    display: grid;
    place-items: center;
  }
  &__detail {
    margin-left: 16px;
  }
  &__category {
    min-width: 80%;
    display: inline-block;
    background: $color-sub;
    color: #fff;
    padding: 2px 4px;
    font-size: 14px;
  }
  &__name {
    color: #505050;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-bottom: 2px;
  }
  &__info {
    font-size: 14px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}

.pipe {
  width: 2px;
  height: 88px;
  background: rgba(#000, 0.16);
}
