<div class="mini-menu">
  <a
    class="mini-menu__logo"
    routerLink="/"
    matTooltip="ホーム"
    matTooltipPosition="after"
  >
    <img src="./assets/images/logo-s.png" alt="EventStand" />
  </a>
  <a
    mat-list-item
    routerLink="/search/event"
    class="mini-menu__children"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      class="mini-menu__icon"
      matTooltip="イベントを探す"
      matTooltipPosition="after"
      >search</mat-icon
    ></a
  >
  <a
    mat-list-item
    routerLink="/editor"
    class="mini-menu__children"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      class="mini-menu__icon"
      matTooltip="イベントを作る"
      matTooltipPosition="after"
      >add</mat-icon
    >
  </a>
  <a
    mat-list-item
    routerLink="/users"
    class="mini-menu__children"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      class="mini-menu__icon"
      matTooltip="メンバー"
      matTooltipPosition="after"
      >group</mat-icon
    >
  </a>
  <a
    mat-list-item
    routerLink="/search/user"
    class="mini-menu__children"
    [routerLinkActive]="['is-active']"
  >
    <mat-icon
      class="mini-menu__icon"
      matTooltip="メンバーを探す"
      matTooltipPosition="after"
      >person_search</mat-icon
    >
  </a>

  <span class="spacer"></span>

  <button mat-mini-fab class="mini-menu__btn" (click)="toggleNav()">
    <mat-icon>navigate_next</mat-icon>
  </button>
</div>
