<div class="container container--footer">
  <div class="footer">
    <div class="footer__menu-box">
      <p class="footer__heading">Eventstandについて</p>
      <a routerLink="/intl/about" class="footer__menu">サービスの特徴</a>
      <a routerLink="/intl/eventstand" class="footer__menu">運営チーム</a>
      <a routerLink="/intl/legal" class="footer__menu"
        >特定商取引法に基づく表記</a
      >
      <a routerLink="/intl/terms" class="footer__menu">利用規約</a>
      <a routerLink="/intl/privacypolicy" class="footer__menu"
        >プライバシーポリシー</a
      >
    </div>
    <div class="footer__menu-box">
      <p class="footer__heading">ヘルプ</p>
      <a routerLink="/intl/help" class="footer__menu">よくある質問</a>
      <a routerLink="/intl/contact" class="footer__menu">お問い合わせ</a>
      <a routerLink="/intl/press" class="footer__menu"
        >ロゴガイドラインとバナー素材</a
      >
    </div>
    <div class="footer__menu-box">
      <span class="footer__spacer"></span>
    </div>
    <div class="footer__menu-box">
      <p class="footer__heading">Eventstandをフォロー</p>
      <a
        href="https://twitter.com/yuki_kouno_jp?ref_src=twsrc%5Etfw"
        class="footer__menu"
        >> Yuki</a
      >
      <a
        href="https://twitter.com/hd_wastecollect?ref_src=twsrc%5Etfw"
        class="footer__menu"
        >> Hide</a
      >
      <a
        href="https://twitter.com/yuutan_0202?ref_src=twsrc%5Etfw"
        class="footer__menu"
        >> GunGun</a
      >
    </div>
  </div>

  <footer class="footer__bottom">&copy; Eventstand.</footer>
</div>
