<main class="main-wrap">
  <swiper class="gallery-top" #tops [config]="topConfig">
    <ng-template swiperSlide *ngFor="let event of spEvents$ | async">
      <app-special [event]="event"></app-special>
    </ng-template>
  </swiper>

  <div class="pagination"></div>

  <div class="navigation navigation--prev">
    <div class="navigation__icon navigation__icon--prev"></div>
  </div>
  <div class="navigation navigation--next">
    <div class="navigation__icon navigation__icon--next"></div>
  </div>

  <ng-container *ngIf="user$ | async as user; else guest">
    <div class="container">
      <app-event-list [user]="user"></app-event-list>
    </div>
  </ng-container>

  <ng-template #guest>
    <div class="container">
      <div class="event-grid">
        <app-event-card
          *ngFor="let event of events$ | async"
          [event]="event"
        ></app-event-card>
      </div>
    </div>
  </ng-template>
</main>

<div class="footer">
  <app-footer></app-footer>
</div>
