@import 'custom-style';
@import 'mixins';

.main-wrap {
  min-height: 100vh;
  padding: 64px 0 120px;
  background: linear-gradient(to right bottom, #121212, #303030);
  position: relative;
  @include sp {
    padding: 56px 0 120px;
  }
}

.event-grid {
  display: grid;
  gap: 24px;
  margin-top: 16px;
  padding: 24px 16px 32px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  @include sp {
    margin-top: 0;
  }
  @include sp-s {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}

.gallery-top {
  margin-bottom: 16px;
}

.footer {
  background: #424242;
  color: #fff;
}
