<section class="top">
  <div class="top__grid">
    <img class="top__img" src="/assets/images/hero-1.jpeg" alt="" />
    <img class="top__img" src="/assets/images/hero-2.jpeg" alt="" />
    <img class="top__img" src="/assets/images/hero-3.jpeg" alt="" />
  </div>
  <div class="top__overlay">
    <h1 class="top__heading">イベントを始めよう</h1>
  </div>
</section>
<ng-container *ngIf="user$ | async as user">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="イベント一覧">
      <app-event-card
        *ngFor="let event of event$ | async"
        [event]="event"
        [uid]="user.uid"
      ></app-event-card
    ></mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
  </mat-tab-group>
</ng-container>
