@import 'custom-style';
@import 'mixins';

.user-list {
  padding: 64px 0;
  background: linear-gradient(to right bottom, #121212, #303030);
  min-height: 100vh;
  &__heading {
    margin-top: 16px;
    display: flex;
    align-items: center;
  }
  @include sp {
    padding: 56px 0;
  }
}

.card-wrap {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
  margin: 16px 0 40px;
  @include sp {
    grid-template-columns: 1fr;
    margin: 16px;
  }
}

.card {
  border-radius: 8px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 8px;
  transition: ease 0.5s;
  background: #181818;
  &:hover {
    background: linear-gradient(to right bottom, #212121, #303030);
  }
  &--log-pc {
    @include sp {
      display: none;
    }
  }
  &--log-sp {
    display: none;
    @include sp {
      display: block;
    }
  }
}

.active {
  color: $color-font-main;
}

.loading {
  width: 100%;
  mat-progress-spinner {
    margin: 24px auto;
  }
}
