@import '~@angular/material/theming';
@import 'custom-style';
@import '~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import 'mixins';
@import '~swiper/swiper-bundle';
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';
@import '~quill/dist/quill.bubble.css';
@import 'quill-emoji/dist/quill-emoji.css';

@include mat-core();

$eventstand-primary: mat-palette($mat-lime, A700);
$eventstand-accent: mat-palette($mat-grey, A200, A100, A400);
$eventstand-warn: mat-palette($mat-red);

$eventstand-theme: mat-dark-theme(
  (
    color: (
      primary: $eventstand-primary,
      accent: $eventstand-accent,
      warn: $eventstand-warn,
    ),
  )
);

@include angular-material-theme($eventstand-theme);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans',
    'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  background: linear-gradient(to right bottom, #121212, #303030);
  color: #fafafa;
  word-break: break-all;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure {
  padding: 0;
  margin: 0;
  outline: none;
}

button {
  border: none;
  outline: none;
  appearance: none;
}

input {
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.agora_video_player {
  min-height: 300px !important;
  // position: unset !important;
  // margin: 0 auto !important;
  // height: 400px !important;
  // width: 400px !important;
  // display: block;
  // border-radius: 300px;
}

.container {
  padding: 0 48px;
  margin: 0 auto;
  @include sp {
    padding: 0;
  }
  &--event-form {
    padding: 64px 48px;
    max-width: 960px;
    @include sp {
      padding: 56px 16px;
    }
  }
  &--calendar {
    padding: 88px 48px;
    @include sp {
      padding: 56px 16px;
    }
  }
  &--intl {
    padding: 64px 48px;
    @include sp {
      padding: 56px 16px;
    }
  }
  &--search {
    padding-top: 64px;
    @include sp {
      padding: 56px;
    }
  }
  &--result {
    padding: 64px 4%;
    max-width: 1600px;
    @include sp {
      max-width: 100%;
      padding: 56px 4%;
    }
  }
  &--event-detail {
    padding: 0 4% 120px;
    @include sp {
      padding: 56px 16px 48px;
    }
  }
  &--followers {
    padding: 0 16px 24px;
  }
  &--waiting {
    max-width: 640px;
    min-height: 80vh;
    padding: 64px 48px 56px;
    margin: 80px auto 0;
    background: linear-gradient(to right bottom, #212121, #434343);
    color: #fafafa;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    @include sp {
      padding: 56px 16px;
      margin: 56px auto;
    }
  }
  &--meeting {
    padding: 64px 48px 56px;
  }
}

.intl {
  &__title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 24px;
  }
  &__content-box {
    margin-bottom: 16px;
    &--eventstand {
      display: flex;
      flex-flow: column;
    }
  }
  &__heading {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__contents {
    font-size: 14px;
    opacity: 0.8;
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__icon {
    margin-right: 8px;
  }
  &__logo-link {
    display: flex;
    align-items: center;
    img {
      margin-right: 4px;
    }
  }
}

.spacer {
  flex: 1;
}

.settings {
  &__heading {
    font-weight: 500;
    margin-bottom: 16px;
    &--unsubscribe {
      color: red;
    }
  }
  &__contents-wrap {
    padding: 24px 0 48px;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

.cal-month-view,
.cal-week-view,
.cal-day-view {
  background: linear-gradient(to right bottom, #121212, #303030);
  .cal-cell-row {
    &:hover {
      background: #303030;
    }
  }
  .cal-cell-top {
    &:hover {
      background: #424242;
    }
  }
  .cal-header .cal-cell {
    &:hover {
      background: #424242;
    }
  }
}

.cal-weekend .cal-day-number {
  color: crimson !important;
  opacity: 0.8;
}

.cal-week-view .cal-hour-odd {
  background-color: #303030;
}

.cal-month-view .cal-day-badge {
  background: #f891a8;
}

.cal-month-view .cal-day-cell.cal-today,
.cal-week-view .cal-header.cal-today {
  background: $color-sub;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background: $color-main;
}

.cal-month-view *,
.cal-week-view * {
  font-weight: normal;
  font-size: 14px;
}

.mat-dialog-container {
  padding: 0;
  background: linear-gradient(
    to right bottom,
    rgba(#121212, 0.8),
    rgba(#303030, 0.8)
  );
}

.mat-tab-header-pagination-disabled .mat-tab-header-pagination-chevron {
  display: none;
}

.login-menu {
  width: 280px;
  padding: 16px 20px;
}

.submit-button {
  background: $color-main;
  color: #fff;
  &:hover {
    background: $color-accent;
  }
}

// swiper config

.gallery-top {
  position: relative;
  @include sp {
    margin-bottom: 24px;
  }
}

.gallery-thumbs {
  position: relative;
  margin-bottom: 16px;
  @include sp {
    display: none;
  }
  &::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border: 20px solid transparent;
    border-left: 20px solid #1bcbe0;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
    z-index: 50;
    overflow: visible !important;
  }
}

.gallery-thumbs .swiper-slide {
  opacity: 0.4;
  padding: 4px;
}

.gallery-thumbs .swiper-slide-active {
  opacity: 1;
  border: 3px solid #1bcbe0;
  position: relative;
}

.pagination {
  display: none;
  position: absolute;
  bottom: -8px;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
  @include sp {
    display: flex;
  }
  .swiper-pagination-bullet,
  .swiper-pagination-bullet-active {
    width: 16px;
    height: 8px;
    display: inline-block;
    border-radius: initial;
    background: rgba(#000, 0.38);
    margin-left: 8px;
  }
  .swiper-pagination-bullet-active {
    background: $color-main;
  }
}

.navigation {
  width: 32px;
  position: absolute;
  top: 4px;
  z-index: 100;
  background: linear-gradient(
    to right bottom,
    rgba(#000, 0.16),
    rgba(#000, 0.38)
  );
  height: calc(100% - 10px);
  &__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    border: solid #fff;
    border-width: 3px 0 0 3px;
    transform: rotate(135deg) translateY(50%);
    position: absolute;
    top: 50%;
    right: 0px;
    cursor: pointer;
    @include sp {
      display: none;
    }
    &:hover {
      opacity: 0.7;
    }
    &:focus {
      outline: 0;
      border: 1px solid #fff;
    }
    &--prev {
      right: -10px;
      transform: rotate(-45deg) translateY(-50%);
    }
  }
  &--next {
    right: 0;
  }
  &--prev {
    left: 0;
  }
}

.ticket-spinner {
  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: #fff;
  }
}
// quill config

.chat {
  width: 280px;
  .ql-editor {
    padding: 8px;
    background: #121212;
    border-radius: 0 8px 8px 8px;
    line-height: 1;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    display: inline-block;
  }
}

.chat-form {
  .ql-editor {
    transition: ease-out 0.3s;
    border: 1px solid #424242;
    border-radius: 8px;
    padding: 8px 16px;
    width: 248px;
    @include sp {
      border-radius: 40px;
      position: relative;
      display: flex;
    }
    &.ql-blank {
      width: 248px;
    }
    &:hover {
      border: 1px solid #fafafa;
    }
  }
  .ql-container.ql-snow {
    border: none;
  }
  .ql-toolbar.ql-snow {
    @include sp {
      display: flex;
      color: #fff;
    }
    border: none;
  }
  .ql-toolbar.ql-snow .ql-formats {
    @include sp {
      margin-right: 0;
    }
  }
  .ql-editor.ql-blank::before {
    color: #444;
    font-style: normal;
    padding: 4px;
  }
}

.ql-snow .ql-tooltip {
  width: 248px;
  background: linear-gradient(to right bottom, #303030, #121212);
  border: none;
  box-shadow: 0px 0px 5px #ddd;
  color: #444;
  padding: 5px 12px;
  white-space: nowrap;
  left: 0 !important;
  top: -100px !important;
  border-radius: 8px;
  flex-flow: column;
}

.ql-snow .ql-tooltip.ql-editing a.ql-action::after {
  border: 1px solid #444;
  padding: 4px 8px;
  color: #fff;
  content: '保存';
  border-radius: 8px;
}

.ql-snow .ql-tooltip a.ql-action::after {
  border-right: 1px solid #ccc;
  content: 'Edit';
  margin-left: 8px;
  margin-top: 8px;
}

.ql-snow .ql-tooltip[data-mode='link']::before {
  content: '';
}

.ql-snow .ql-tooltip[data-mode='video']::before {
  content: '';
}

@include sp {
  quill-editor {
    display: flex;
  }
}

.mat-drawer {
  @include sp {
    background: transparent;
    width: 100vw;
  }
}

.mat-drawer-container {
  background: linear-gradient(to right bottom, #121212, #303030);
}

.mat-sidenav-content {
  background: linear-gradient(to right bottom, #121212, #303030);
}

.mat-drawer-backdrop.mat-drawer-shown {
  height: calc(100vh - 56px);
  background-color: rgba(0, 0, 0, 0.6);
}

.mat-drawer {
  background: initial;
  @include sp {
    z-index: 0;
    height: calc(100vh - 56px);
  }
}

.home-tab-group {
  .mat-tab-label .mat-tab-label-content {
    font-size: 20px;
    @include sp {
      font-size: 16px;
    }
  }
}

.event-room-btn {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-left: 16px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #333;
  background: linear-gradient(to right bottom, #303030, #121212);
  color: #fafafa;
  cursor: pointer;
  @include sp {
    font-size: 10px;
    padding: 4px 8px;
  }
  &:hover {
    opacity: 0.8;
  }
  &.active {
    background: $color-main;
    color: #444;
  }
  &--main {
    color: #1bcbe0;
  }
  &--submit {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  &--chat-l {
    margin-left: 0;
    border-radius: 8px 0 0 8px;
  }
  &--chat-r {
    margin-left: 0;
    border-radius: 0 8px 8px 0;
  }
  &__icon {
    font-size: 16px;
    line-height: 24px;
    &--mr {
      margin-right: 4px;
    }
  }
}

svg:not(:root) {
  overflow: visible !important;
}
