@import '~@angular/material/theming';
@import 'custom-style';
@import '~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';

@include mat-core();

$eventstand-primary: mat-palette($mat-lime, A700);
$eventstand-accent: mat-palette($mat-grey, A200, A100, A400);
$eventstand-warn: mat-palette($mat-red);

$eventstand-theme: mat-light-theme(
  (
    color: (
      primary: $eventstand-primary,
      accent: $eventstand-accent,
      warn: $eventstand-warn,
    ),
  )
);

@include angular-material-theme($eventstand-theme);

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 56px;
  font-family: 'Avenir', 'Helvetica Neue', 'Helvetica', 'Arial', 'Hiragino Sans',
    'ヒラギノ角ゴシック', YuGothic, 'Yu Gothic', 'メイリオ', Meiryo,
    'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure {
  padding: 0;
  margin: 0;
  outline: none;
}
button {
  border: none;
  outline: none;
  appearance: none;
}
input {
  outline: none;
}
.agora_video_player {
  min-height: 300px !important;
  // position: unset !important;
  // margin: 0 auto !important;
  // height: 400px !important;
  // width: 400px !important;
  // display: block;
  // border-radius: 300px;
}
.container {
  max-width: 1200px;
  padding: 0 48px;
  margin: 0 auto;
  &--event-form {
    max-width: 960px;
  }
  &--calendar {
    padding: 48px;
  }
}

.cal-month-view .cal-day-badge {
  background: #f891a8;
}

.cal-month-view .cal-day-cell.cal-today {
  background: $color-sub;
}

.mat-tab-group.mat-primary .mat-ink-bar {
  background: $color-main;
}
