@import "~@angular/material/theming";
@import "custom-style";

@include mat-core();

$eventstand-primary: mat-palette($mat-lime, A700);
$eventstand-accent: mat-palette($mat-grey, A200, A100, A400);
$eventstand-warn: mat-palette($mat-red);

$eventstand-theme: mat-light-theme(
  (
    color: (
      primary: $eventstand-primary,
      accent: $eventstand-accent,
      warn: $eventstand-warn,
    ),
  )
);

@include angular-material-theme($eventstand-theme);

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding-top: 56px;
  font-family: "Avenir", "Helvetica Neue", "Helvetica", "Arial", "Hiragino Sans",
    "ヒラギノ角ゴシック", YuGothic, "Yu Gothic", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
p,
ul,
li,
ol,
figure {
  padding: 0;
  margin: 0;
  outline: none;
}
button {
  border: none;
  outline: none;
  appearance: none;
}
input {
  outline: none;
}
