<h1 mat-dialog-title>クレジットカードの登録</h1>
<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="createCard()" class="form">
    <mat-form-field>
      <mat-label>カードの名義</mat-label>
      <input
        type="text"
        matInput
        required
        placeholder="TARO YAMADA"
        formControlName="name"
        autocomplete="name"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>メールアドレス</mat-label>
      <input
        type="email"
        matInput
        required
        formControlName="email"
        autocomplete="email"
      />
    </mat-form-field>
    <div class="card-element" #cardElement></div>
    <p class="form__badge">
      <a href="https://stripe.com/ja-us" target="_blank" rel="noopener">
        <img
          src="/assets/images/icons/powered_by_stripe.svg"
          alt="powered by stripe"
        />
      </a>
    </p>
    <ul class="form__note">
      <li>カード情報は世界的に信頼が厚いStripeで厳重に管理されます。</li>
      <li>
        サービスではクレジットカード情報を保持しないので漏洩の心配はありません。
      </li>
    </ul>
    <button mat-flat-button mat-dialog-close>キャンセル</button>
    <button mat-raised-button color="primary" [disabled]="form.invalid">
      登録する
    </button>
  </form>
</div>
