<h1 matDialogTitle class="dialog-header">フォロー中</h1>

<mat-divider></mat-divider>

<mat-dialog-content>
  <div
    class="following"
    *ngFor="let following of targetUserFollowings$ | async"
  >
    <a
      class="following__avatar"
      routerLink="/{{ following?.uid }}"
      matDialogClose
    >
      <img src="{{ following?.avatarURL }}" alt="" />
    </a>
    <a
      class="following__name"
      routerLink="/{{ following?.uid }}"
      matDialogClose
    >
      {{ following?.name }}
    </a>
    <span class="spacer"></span>
    <ng-container
      *ngIf="myFollowingUids$ | async as myFollowingUids; else follow"
    >
      <button
        *ngIf="following.uid !== data.authUid"
        mat-stroked-button
        class="following__btn"
        (click)="
          myFollowingUids.includes(following?.uid)
            ? followService.unFollow(data.authUid, following.uid)
            : followService.follow(data.authUid, following.uid)
        "
      >
        {{
          myFollowingUids.includes(following?.uid)
            ? 'フォロー中'
            : 'フォローする'
        }}
      </button>
    </ng-container>
    <ng-template #follow>
      <button
        mat-stroked-button
        class="following__btn"
        (click)="followService.follow(data.authUid, following.uid)"
      >
        フォローする
      </button>
    </ng-template>
  </div>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions>
  <button mat-flat-button matDialogClose class="close">
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>
