@import 'custom-style';
@import 'mixins';

.my-page {
  &__header {
    display: grid;
    grid-template-columns: 240px 1fr;
    gap: 24px;
    align-items: center;
    padding: 24px;
    @include sp {
      grid-template-columns: 144px 1fr;
      padding: 16px;
    }
    @include sp-s {
      grid-template-columns: 120px 1fr;
    }
  }
  &__avatar {
    img {
      width: 240px;
      height: 240px;
      border-radius: 50%;
      @include sp {
        width: 144px;
        height: 144px;
      }
      @include sp-s {
        width: 120px;
        height: 120px;
      }
    }
  }
  &__body {
    max-width: 600px;
  }
  &__name-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__name {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
    @include sp {
      font-size: 24px;
    }
    @include sp-s {
      font-size: 20px;
    }
  }
  &__follow-button {
    height: 36px;
    color: white;
    background-color: #1bcbe0;
  }
  &__following-button {
    height: 36px;
    width: 102px;
    padding: 0;
    color: black;
    border: solid 1px gray;
    box-sizing: border-box;
  }
  &__flex {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    @include sp {
      font-size: 14px;
    }
    @include sp-s {
      font-size: 12px;
    }
  }
  &__flex-item {
    margin-right: 16px;
    cursor: pointer;
    &:hover {
      color: #1bcbe0;
    }
    @include sp {
      display: none;
    }
    &--sp {
      display: none;
      @include sp {
        display: block;
        margin-right: 8px;
        font-size: 14px;
        span {
          display: block;
        }
      }
      @include sp-s {
        font-size: 12px;
      }
    }
  }
  &__icon {
    font-size: 24px;
    margin-right: 4px;
    @include sp {
      display: none;
    }
  }
  &__description {
    font-size: 14px;
    @include sp {
      display: none;
    }
  }
  &__call {
    display: grid;
  }
  &__call-btn {
    margin-top: 16px;
    color: #fff;
    background-color: #1bcbe0;
    width: 100%;
    mat-icon {
      font-size: 20px;
      margin-left: 8px;
    }
  }
  &__call-hint {
    padding-top: 8px;
    font-size: 14px;
    &--link {
      color: #1bcbe0;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__sp-description {
    display: none;
    @include sp {
      display: block;
      padding: 0 16px 16px;
    }
  }
}

.event-grid {
  display: grid;
  gap: 24px;
  margin-top: 16px;
  padding: 24px 16px 32px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  @include sp {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}
