<section class="my-page" *ngIf="user$ | async as user">
  <div class="container">
    <div class="my-page__header">
      <div class="my-page__avatar">
        <img [src]="user.avatarURL" alt="" />
      </div>

      <div class="my-page__body" *ngIf="currentUser$ | async as currentUser">
        <div class="my-page__name-box">
          <p class="my-page__name">
            {{ user.name }}
          </p>
          <ng-container *ngIf="user.uid !== currentUserUid; else edit">
            <button
              mat-button
              *ngIf="!isFollowing"
              class="my-page__follow-button"
              (click)="follow()"
            >
              フォローする
            </button>
            <button
              mat-button
              *ngIf="isFollowing"
              class="my-page__following-button"
              (click)="openUnFollowDialog()"
            >
              フォロー中
            </button>
          </ng-container>
          <ng-template #edit>
            <div class="my-page__edit">
              <ng-container *ngIf="user.uid === currentUserUid">
                <a routerLink="/settings/profile" mat-stroked-button
                  >プロフィールを編集</a
                >
              </ng-container>
            </div>
          </ng-template>
        </div>
        <div class="my-page__flex">
          <mat-icon class="my-page__icon">supervised_user_circle</mat-icon>
          <p
            class="my-page__flex-item"
            (click)="openFollowersDialog(currentUser)"
          >
            フォロワー <span>{{ user.followerCount }}人</span>
          </p>
          <a
            class="my-page__flex-item my-page__flex-item--sp"
            routerLink="followers"
          >
            フォロワー <span>{{ user.followerCount }}人</span>
          </a>
          <mat-icon class="my-page__icon">supervised_user_circle</mat-icon>
          <p
            class="my-page__flex-item"
            (click)="openFollowingsDialog(currentUser)"
          >
            フォロー中 <span>{{ user.followingCount }}人</span>
          </p>
          <p
            class="my-page__flex-item my-page__flex-item--sp"
            routerLink="followings"
          >
            フォロー中 <span>{{ user.followingCount }}人</span>
          </p>
        </div>

        <p class="my-page__description">{{ user.description }}</p>
        <div *ngIf="user.uid !== currentUserUid" class="my-page__call">
          <button
            class="my-page__call-btn"
            mat-flat-button
            (click)="
              [
                user.ticketPrice
                  ? openTicketDialog(user)
                  : call(user.uid, currentUser, user.name)
              ]
            "
            [disabled]="
              !(customer$ | async)?.defaultPaymentMethod &&
              !(customer$ | async)?.paymentMethods
            "
          >
            話しかける<mat-icon *ngIf="user.ticketPrice">sell</mat-icon>
          </button>
          <p
            *ngIf="
              !(customer$ | async)?.defaultPaymentMethod &&
              !(customer$ | async)?.paymentMethods
            "
            class="my-page__call-hint"
          >
            話しかけるにはチケットが必要です。お支払いカードを設定してください。
            <span
              ><a
                class="my-page__call-hint--link"
                routerLink="/settings/payment"
                >設定はこちら</a
              ></span
            >
          </p>
        </div>
      </div>
    </div>
    <p class="my-page__sp-description">{{ user.description }}</p>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="参加イベント">
        <div class="event-grid">
          <app-event-card
            *ngFor="let event of reservedEvents$ | async"
            [event]="event"
            [uid]="user.uid"
          >
            ></app-event-card
          >
        </div>
      </mat-tab>

      <mat-tab label="主催イベント">
        <div class="event-grid">
          <app-event-card
            *ngFor="let event of ownerEvents$ | async"
            [event]="event"
            [uid]="user.uid"
            [type]="'owner'"
          >
            ></app-event-card
          >
        </div>
      </mat-tab>

      <mat-tab label="過去のイベント">
        <div class="event-grid">
          <app-event-card
            *ngFor="let event of pastEvents$ | async"
            [event]="event"
            [uid]="user.uid"
            [type]="'past'"
          >
          </app-event-card>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</section>
