@import 'custom-style';

.my-page {
  &__header {
    display: grid;
    grid-template-columns: 240px 1fr 160px;
    gap: 24px;
    align-items: center;
    padding: 24px;
  }
  &__avatar {
    img {
      width: 240px;
      height: 240px;
      border-radius: 50%;
    }
  }
  &__name {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  &__flex {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  &__flex-item {
    margin-right: 16px;
    cursor: pointer;
    &:hover {
      color: #1bcbe0;
    }
  }
  &__icon {
    font-size: 24px;
    margin-right: 4px;
  }
  &__description {
    font-size: 14px;
  }
  &__follow-button {
    margin-top: 16px;
    color: white;
    background-color: #1bcbe0;
  }
  &__following-button {
    margin-top: 16px;
    height: 36px;
    width: 102px;
    padding: 0;
    color: black;
    border: solid 1px gray;
    box-sizing: border-box;
  }
}

.event-grid {
  display: grid;
  gap: 24px;
  margin-top: 16px;
  padding: 24px 16px 32px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}
