<section class="my-page" *ngIf="user$ | async as user">
  <div class="container">
    <div class="my-page__header">
      <div class="my-page__avatar">
        <img [src]="user.avatarURL" alt="" />
      </div>

      <div class="my-page__body">
        <p class="my-page__name">{{ user.name }}</p>
        <div class="my-page__flex">
          <mat-icon class="my-page__icon">supervised_user_circle</mat-icon>
          <p class="my-page__flex-item">
            フォロワー {{ user.followerCount }}人
          </p>
          <mat-icon class="my-page__icon">supervised_user_circle</mat-icon>
          <p class="my-page__flex-item">
            フォロー中 {{ user.followingCount }}人
          </p>
        </div>
        <p class="my-page__description">{{ user.description }}</p>
      </div>
    </div>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="参加イベント"> </mat-tab>
      <mat-tab label="主催イベント"> </mat-tab>
      <mat-tab label="フォロワー"> </mat-tab>
    </mat-tab-group>
  </div>
</section>
