<div class="container container--intl">
  <h1 class="intl__title">プレスルーム</h1>

  <div class="intl__content-box">
    <h2 class="intl__heading">サービス説明</h2>
    <p class="intl__contents">
      誰でも簡単にオンラインイベントを開催、参加できるプラットフォームサービス。
    </p>
  </div>
  <div class="intl__content-box">
    <h2 class="intl__heading">ロゴガイドライン</h2>
    <p class="intl__contents">ロゴは自由にご利用ください。</p>
  </div>
  <div class="intl__content-box">
    <h2 class="intl__heading">ロゴ</h2>
    <a routerLink="/" class="intl__logo-link"
      ><img src="./assets/images/favicon.svg" alt="" />EventStand</a
    >
  </div>

  <a mat-stroked-button (click)="location.back()">戻る</a>
</div>
