<div class="container container--intl">
  <h1 class="intl__title">特定商取引法に基づく表記</h1>

  <div class="intl__content-box">
    <h2 class="intl__heading">連絡先</h2>
    <dl class="intl__contents">
      <dt>運営者：</dt>
      <dd>郡司裕介</dd>
      <dt>所在地：</dt>
      <dd>東京都世田谷区太子堂4-26-8 コーポエフ202</dd>
      <dt>メール：</dt>
      <dd>eventstand.info@gmail.com</dd>
      <dt>電話番号：</dt>
      <dd>090-4736-9640</dd>
    </dl>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">利用料</h2>
    <p class="intl__contents">
      購入手続きの際に画面に表示されます。消費税は内税として表示しております。
    </p>
    <p class="intl__contents">
      ※当サイトのページの閲覧、コンテンツ購入、ソフトウェアのダウンロード等に必要となるインターネット接続料金、
      通信料金は、お客様のご負担となります。
    </p>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">支払い方法</h2>
    <p class="intl__contents">
      クレジットカード決済（Stripe）のみとなります。ストライプジャパン株式会社
      （以下、Stripe社）が提供する決済システム「Stripe」を利用します。
      Stripeの利用条件、引き落とし時期及びその他Stripeに関する事項は、Stripe社が定める規約によるものとします。
    </p>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">動作環境</h2>
    <p class="intl__contents">
      アプリケーションによって利用環境・対応機種が異なります。各アプリケーションのダウンロードの前に、
      必ず各アプリケーションの詳細ページで利用環境・対応機種をご確認ください。
    </p>
  </div>

  <div class="intl__content-box">
    <h2 class="intl__heading">返品・キャンセル</h2>
    <p class="intl__contents">
      1 お客様のご都合による返品・キャンセル
      商品の性質上、各アプリケーションご購入後の返金・返品はできかねます。あらかじめ月額コース対象コンテンツ、
      利用環境・対応機種および各アプリケーションの利用環境・対応機種をよくお確かめの上、お申込み、もしくはご購入願います。
    </p>
    <p class="intl__contents">
      2 アプリケーションの瑕疵に基づく返品（キャンセル）
      アプリケーションに瑕疵が発見されたときは、瑕疵を修補したアプリケーションをアプリケーションのバージョンアップ又はその他適切な方法で提供いたします。
    </p>
    <p class="intl__contents">
      3 その他、App Store・Google
      Playなどの各アプリケーション提供サイトの取り決めに従うこととします。
    </p>
  </div>

  <div class="intl__content-box">
    <p class="intl__contents">以上</p>
  </div>

  <a mat-stroked-button routerLink="/">戻る</a>
</div>
